[2017-11-03 20:49] skylarmt opened #1 "No license = not possible to legally use"
This project has no code license attached.  This means that (in many countries) it defaults to "all rights reserved" implied copyright.  This means it's technically copyright infringement to use this code.

I would suggest [the MIT license](https://opensource.org/licenses/MIT), as it allows for anyone to use your code for anything they want, as long as they give you credit for it and include a cop

[2017-11-03 20:52] atarw commented on #1
added the MIT license 🙂

[2017-11-03 20:52] #1 closed

[2017-11-03 20:53] skylarmt commented on #1
That was insanely fast!

[2018-03-25 20:53] Yemeen opened #2 "Implementation"
How would you recommend implementing this repo? I am running into issues and I suspect I didn't use it correctly

[2018-03-25 22:09] atarw commented on #2
download the latest release from [here](https://github.com/atarw/material-ui-swing/releases) and add the .jar file to your project

for example if you use intellij, [these](https://www.jetbrains.com/help/idea/import-existing-sources-libraries.html) [links](https://stackoverflow.com/questions/1051640/correct-way-to-add-external-jars-lib-jar-to-an-intellij-idea-project) might be helpful

[2018-03-27 01:49] #2 closed

[2018-04-17 10:14] NiggersAreAnimals opened #3 "Imported, and set the look and feel, but the components look pretty bland (unlike in the demo)"
Imported these:
[code]
Tried setting the look and feel both in the start of the constructor and main function:
[code]
Also did the animate thing and works as intended.
[code]

Also tried the demo and the buttons look different ( like they're supposed to look because of the look and feel )

Am i supposed to apply something to the components first?
![2018-04-17_13-12-30](https://user-images.githubus

[2018-04-17 16:50] atarw commented on #3
hi, i can't seem to reproduce this, can you send a small/simplified project for me to test?

[2018-04-20 10:32] atarw commented on #3
did a bit of testing, and the error happens because some jcomponents are initialized before the look and feel is set in the main method (e.g. in the constructor, as well as static variables) - once you move all variable instantiation to after the look and feel is applied, everything works fine.

if you don't want to modify your code, putting the `updateComponentTreeUI` function at the end of your

[2018-04-24 12:12] Andresain123 opened #4 "Font pixelated"
Hi, I've just installed your library and the first thing I have noticed is that when I create a text component like JLabel, the text shows like pixelated.

Is any way to solve this?
If I remove the UIManager.setLookAndFeel (new MaterialLookAndFeel()), the text just shows fine.

Thank you!

Here is a picture that shows that:
![test](https://user-images.githubusercontent.com/4752185/39186039-7903316

[2018-04-25 04:37] atarw commented on #4
i'm currently on vacation so i can't test the issue completely but i'm guessing it has to do with the font smoothing. i pushed a small update to the repo that _may_ fix your issue.

if not, try playing around with lines [59-61](https://github.com/atarw/material-ui-swing/blob/master/src/mdlaf/MaterialLookAndFeel.java#L59-L61) in `MaterialLookAndFeel.java` and see if anything changes. [this might be

[2018-05-14 12:16] mikesantosdeveloper opened #5 "JPasswordField"
Apply Look and Feel in JPasswordField equals JTextField

[2018-05-15 00:35] atarw commented on #5
added support for this, let me know if there's any bugs!

[2018-05-16 23:59] #5 closed

[2018-05-19 12:07] vincenzopalazzo opened #6 "jtable problem"
Hello when I go to apply the theme with the following code:
`static{
	BasicLookAndFeel matirial = new MaterialLookAndFeel();
	try {
	    UIManager.setLookAndFeel(matirial);
	} catch (Exception ex) {
	    LOGGER.error("Look end feel " + matirial.toString() + " non supportato");
	    UIManager.getLookAndFeelDefaults();
	}
    }`

 the theme does not apply to jtable and I get a similar result ...
![s

[2018-05-20 06:14] atarw commented on #6
Yeah, the library doesn't support JTables yet but I'll try to code something up in the next day or two for you

[2018-05-21 16:44] Nisgrak commented on #4
The issue is resolved? I had the same problem now, but you say that it's resolved. Thanks!
![image](https://user-images.githubusercontent.com/19597708/40319031-f89e81ce-5d26-11e8-93a2-14a04a74d957.png)

[2018-05-24 03:43] atarw commented on #6
Sorry for the delay, was busy with work. I've added JTable support, complete with material design cell editing

[2018-05-24 03:44] atarw commented on #4
To be honest I'm still not quite sure why this happens, and it's hard for me to test since the fonts seem to render fine for me (although it could be because I use a Mac). I'll try to run the library on a Windows computer and see what could be causing this

[2018-05-25 02:54] #6 closed

[2018-06-06 02:16] Ramneek-kalra opened #7 "Error in MaterialUIMovement.add (button, new Color (34, 167, 240));"
Have a look over this statement in Netbeans IDE, that's not working in it. And, secondly, I am unable to get the material look and feel after running, Please do see in the issue.

Ramneek

[2018-06-07 00:16] atarw commented on #7
Hi, just to make sure it's not an import issue, can you make sure you properly included the library jar file into your project? I don't use netbeans but you can probably look up how to do so online.

If the issue still exists, can I get a screenshot to help find the problem? Specifically, one of the error you get with that particular statement and your GUI window after applying the look and feel,

[2018-06-07 05:13] Ramneek-kalra commented on #7
Okay not a problem, if any problem persists, I will then share you the screen shot.
Thanks for sharing the repository!

[2018-06-07 11:44] RubrumExPlaneta opened #8 "JTree support"
It would be really nice if `JTree`s were supported.
It seems that currently, they are not supported.

[2018-06-08 04:08] atarw commented on #8
I'll work on it over the weekend :)

[2018-06-09 12:03] RubrumExPlaneta commented on #8
@atarw Thank you for the quick reply. :)
Not only is your work really aesthetically appealing, you seem to be really actively maintaining it; you really deserve more credit and I am surprised this repository is not much more well known that it is. Keep up the good work!

[2018-06-09 18:05] atarw commented on #8
Thanks for the kind words ❤️
The latest release should support JTables now

[2018-06-09 18:06] atarw commented on #7
Going to close this, if you run into any more issues, feel free to let me know!

[2018-06-09 18:06] #7 closed

[2018-06-11 09:32] RubrumExPlaneta commented on #8
Thank you, I did not get to test it yet but that was really quick!

[2018-06-12 11:50] RubrumExPlaneta commented on #4
Same thing happens for me. I'm on Windows 8.1, fyi

[2018-06-12 11:54] RubrumExPlaneta opened #9 "JSpinner Support"
Sorry for keep making future requests, but can you please add support for JSpinner?
Currently, it looks extremely devastating. Thank you in advance :)

[2018-06-13 03:10] #8 closed

[2018-06-13 03:10] atarw commented on #9
No problem, just added it :)

[2018-06-13 03:10] #9 closed

[2018-06-13 03:11] atarw commented on #4
Pushed a possible fix for this, although I can't test until tomorrow since I don't have access to a Windows machine right now.

[2018-06-13 19:49] vincenzopalazzo commented on #4
it is in my case the problem of my friends has been solved. Fantastic

[2018-06-14 14:52] willmesquita opened #10 "Checkbox doesn't working"
i've put a checkbox but it only displays a gray background

[2018-06-15 02:38] atarw commented on #10
Added basic support for checkboxes (unfortunately no way of changing the color you get when you select the checkbox, but this may change very soon)

[2018-06-15 02:38] #10 closed

[2018-06-19 04:32] mkozonits opened #11 "JTabbedPane Support"
The Material LaF is very nice, but could you please add support for JTabbedPane? Would be nice, it's the only component which looks more or less terrible -> for my school project :)

[2018-06-20 00:38] atarw commented on #11
Added support for it

[2018-06-20 00:38] #11 closed

[2018-07-04 12:31] willmesquita opened #13 "Scrollbars and item Select color are old fashioned"
Scroll bar is just like a scrollbar from windows 95, and item select color looks like came from the same

[2018-07-05 00:22] atarw commented on #13
Added support for JScrollBar, not sure what you mean about item select color though

[2018-07-10 13:42] atarw commented on #13
Closing this since I'm assuming its fixed. If not, feel free to reopen

[2018-07-10 13:42] #13 closed

[2018-07-26 04:05] wiese888 opened #15 "JTextField does not trigger ActionEvent on pressing <Enter>"

[2018-07-26 04:08] wiese42 opened #16 "Please add support for JSlider"

[2018-07-26 12:33] wiese888 opened #17 "Please add support for JToolbar"

[2018-07-26 12:34] wiese888 opened #18 "Please add support for JCombobox"

[2018-07-27 03:02] atarw commented on #15
Fixed

[2018-07-27 03:02] #15 closed

[2018-07-27 07:25] wiese42 opened #19 "How to customize the LaF?"
It is unclear to me how to customize the LaF without modifying the source code. Example: I would like to have my button background gray. How would I do that?

Currently my approach is to change the MaterialButtonUI to something like

Color bg = (Color)UIManager.get("Button.background");
if(bg != null) button.setBackground(bg);

and change MaterialLookAndFeel.initComponentDefaults to include
table.

[2018-07-27 07:36] wiese888 commented on #15
Thanks!

[2018-07-27 13:22] atarw commented on #16
That looks pretty similar to the stub code currently in the repo. I'm going to be busy this weekend so I'll try to work on this on Sunday (or Monday by the latest). If you need support for the component earlier, feel free to make a pull request and I'll add it in 😄

[2018-07-27 14:36] wiese888 commented on #19
I just realized that you don't have to set anything within the MaterialUI components. Just put everything in the initComponentDefaults section instead ( except for the stuff where you think that this part of the style should never be customized by the user. Would be great if you could change that in the future,. By the way I really like your LaF. Keep up the good work!

[2018-07-31 01:30] atarw commented on #16
Took longer than expected but it's here!

[2018-07-31 01:30] #16 closed

[2018-07-31 01:45] atarw commented on #19
I'll need to research this a bit more since doing it the straightforward way seems to have odd side effects

[2018-08-01 03:43] atarw commented on #19
This is now supported by all components except PasswordField and TextField, I'll need to refactor those a bit more

[2018-08-02 17:54] wiese42 commented on #19
Could you make table.rowHeight customizable as well? Suggestion:

MaterialTableUI.installUI

//by default "Table.rowHeight" will not be set in MaterialLookAndFeel.initComponentDefaults
int rowHeight = UIManager.getInt("Table.rowHeight");
if(rowHeight > 0)
  table.setRowHeight(rowHeight);
else
  table.setRowHeight (table.getRowHeight () + 25);

This way I can do something like UIManager.put("Table.

[2018-08-02 18:45] wiese42 commented on #19
Could you make the combobox arrow button customizable as well? Suggestion:

MaterialComboBoxUI.createArrowButton:

Icon icon = UIManager.getIcon("ComboBox.buttonIcon");
JButton button;
if(icon != null) button = new JButton(icon);
else button = new BasicArrowButton (SwingConstants.SOUTH);
...

This way one can customize the arrow, e.g.
 UIManager.put("ComboBox.buttonIcon", ImageIcon(MaterialImages.

[2018-08-02 19:25] wiese42 commented on #19
Could you make the spinner prev/next buttons customizable as well, so one can do something like

UIManager.put("Spinner.previousButtonIcon", ImageIcon(MaterialImages.DOWN_ARROW))
UIManager.put("Spinner.nextButtonIcon", ImageIcon(MaterialImages.UP_ARROW))

[2018-08-02 19:41] wiese42 opened #21 "JTextArea doesn't react to command keys anymore"
WIth this LaF active, nothing happens in JTextArea, if you press the arrow keys, backspace, and all the other command keys.  Could't figure out the reason for that.

[2018-08-02 19:46] atarw commented on #19
I'm going to be busy until Monday, but if you add it in as a pull request I'll merge it with the main repository :)

[2018-08-02 20:02] wiese42 commented on #21
Just found out the reason for it. You need to set

 UIManager.put("TextArea.focusInputMap", multilineInputMap)
 UIManager.put("TextPane.focusInputMap", multilineInputMap)
 UIManager.put("EditorPane.focusInputMap", multilineInputMap)

See MetalLookAndFeel.java for some inspiration on how to initialize the inputMap.

[2018-08-03 13:22] atarw commented on #21
Thank you for the pull request :D
I'll assume this issue is closed

[2018-08-03 13:22] #21 closed

[2018-08-04 06:41] #19 closed

[2018-08-04 07:06] wiese42 opened #23 "font doesn't look nice in text components"
Compared to other LaFs such as native Windows LaF or nimbus, text looks less crisp and clear in text components such as JSpinner, JTextArea and, JEditorPane.  With material LaF active, I didn't succeed in assigning a font for these components that looks as good as the default font for the before-mentioned LaFs. Is there a way to use material LaF, and at the same time have a nice-looking font in te

[2018-08-04 17:16] atarw commented on #23
If the font is pixelated as in #4 then it's a matter of calling `MaterialDrawingUtils.getAliasedGraphics` on the Graphics object used to paint the component's text.

As for JEditorPane, it might be because the component isn't supported and that might screw up its ability to display HTML formatted text

[2018-08-15 06:57] wiese42 opened #30 "Please support RadioButtonMenuItem"
Tried this myself but failed. Unclear how to customize the checked/unchecked icon.

[2018-08-15 13:55] user12043 opened #32 "JFileChooser support"
JFileChooser window appears empty. Here is screenshots from my app.

![ss1](https://user-images.githubusercontent.com/27023329/44151691-f8d952d6-a0ab-11e8-9bcd-d08717179340.png)
![ss2](https://user-images.githubusercontent.com/27023329/44151694-fbb9c92c-a0ab-11e8-94f4-b96244ed63b6.png)

[2018-08-15 14:03] atarw commented on #30
Merged the pull request, but I'll leave this issue open in case any of you feel more changes need to be made

[2018-08-15 14:04] atarw commented on #32
I can add support for it as soon as I get back from work

[2018-08-15 14:06] vincenzopalazzo commented on #30
@atarw Yes, my solution works, but surely there will be some better solution

[2018-08-15 14:10] user12043 opened #33 "Can not delete text in JTextPane"
Content in JTextPane can not deleting with "Backspace" or "Delete" keys. Here is screenshot from my app.

![ss3](https://user-images.githubusercontent.com/27023329/44152415-28be7c4a-a0ae-11e8-9eb4-f78ce3fead2f.png)

[2018-08-15 14:17] user12043 commented on #32
Thanks, looking forward to

I will try also.

[2018-08-15 14:48] wiese42 commented on #30
This works, but is not configurable without modifying the code. Could you please fetch values from properties
RadioButtonMenuItem.checkIcon
RadioButtonMenuItem.selectedCheckIcon
RadioButtonMenuItem.backgorund
...

thx!

[2018-08-15 14:50] vincenzopalazzo commented on #30
@wiese42 I try to make the changes

[2018-08-15 15:08] vincenzopalazzo commented on #30
@wiese42 Now he should do what he has to do

[2018-08-15 17:09] atarw commented on #30
Merged

[2018-08-15 17:09] #30 closed

[2018-08-15 17:31] vincenzopalazzo commented on #33
I think the problem is due to the lack of component support, I try to see if I can make an implementation and if I can do it I'll make a pull request

[2018-08-15 17:59] vincenzopalazzo commented on #33
@user12043 I think your problem was solved, I opened a pull request

[2018-08-15 19:59] atarw commented on #33
Thank you so much for your help today 😄, I really appreciate it!

[2018-08-15 19:59] #33 closed

[2018-08-16 01:31] vincenzopalazzo commented on #33
You don't have to thank me! 😁

[2018-08-16 02:41] atarw commented on #32
Added support

[2018-08-16 02:41] #32 closed

[2018-08-16 05:15] user12043 commented on #32
Thanks for quick support :smile:

[2018-08-16 05:16] user12043 commented on #33
Thanks for quick support :smile:

[2018-08-16 08:55] wiese42 commented on #30
Looking good now! Thanks!

[2018-08-16 21:21] vincenzopalazzo opened #37 "New Directory on JFileChooser problem"
Excuse me but I could not figure out where the problem is, when you go to create a new folder inside the file Chooser getting the following render.

![sbug](https://user-images.githubusercontent.com/17150045/44235812-18104880-a1ab-11e8-9035-9ae36ca93249.png)

I tried to go back to jTextField to change at least the size without any success

[2018-08-17 09:05] vincenzopalazzo commented on #37
I tried to give an eye to installComponentUI () and I think the problem is just when the superclass goes to set the size of the EditText with the following code
[code]
But I could not find any solution apart from rewriting everything installComponentUI
ps: If what I found is really the cause

[2018-08-20 22:32] chezsick opened #38 "Question ::::: How To Set This Look And Feel To Any Apps/Jar"
Hi My Name Is Sick, I Not Success To Switch This Look And Feel From Command Line, For The Nimbus No Problem ::::: java -Dswing.defaultlaf=javax.swing.plaf.nimbus.NimbusLookAndFeel -jar _MyApp_ But For This Look And Feel So Material Design No And I Try  java -classpath /path/to/material-ui-swing.jar -Dswing.defaultlaf=mdlaf.MaterialLookAndFeel -jar _MyApp_ Not Work

Thank You Sick.

[2018-08-21 01:34] atarw commented on #38
Hmm, that is odd, it seems to work for me. I can't really debug without more information, but try adding the L&F to the program's class path, and then compiling everything and using the `-Dswing.defaultlaf` argument, since I think the `material-ui-swing.jar` file may not be getting compiled before the default L&F is set.

[For reference](https://docs.oracle.com/javase/tutorial/uiswing/lookandfeel/

[2018-08-21 14:50] CesarCoelho opened #39 "Maven support"
Hi, would it be possible to mavenize the project?

[2018-08-21 17:43] vincenzopalazzo commented on #38
Hello @chezsick ,
Can I try to say mine about the mistake ??
I think the error is in the declaration of the classpath, every declaration for an external jar must start for.: / directory (under linux and mac) and instead.; \ directory (for windows).
(although it should go without a point and directly with / directory but try it does not cost anything)
Let me know if you can solve this solution once

[2018-08-21 18:05] chezsick commented on #38
@vincenzopalazzo Nothing I Try java -cp .:/to/path/material-ui-swing.jar -Dswing.defaultlaf=mdlaf.MaterialLookAndFeel -jar _myapp_

Not Work I See Errors Messages ::::
[code]

[2018-08-21 18:16] vincenzopalazzo commented on #38
la tua app usa il tema di default di java?

ed inoltre ti faccio una domanda stupida essendo un jar quindi inidipendende dal IDE perche' qui c'e' questo riferimento "at org.eclipse.jdt.internal.jarinjarloader.JarRsrcLoader.main(JarRsrcLoader.java:58)"??

[2018-08-21 18:20] chezsick commented on #38
@vincenzopalazzo I Use CryptImage (Not At Github) So What IDE To Apply This L&F? Maven, Netbeans

And You Can Speak English Or French ??

[2018-08-21 18:25] vincenzopalazzo commented on #38
@chezsick Excuse me it was a mistake of sitraction to publish the answer in my mother tongue, I'm sorry.

So you use this ... that would be a right framework ?? my question arises "And if the error is due to the same reason that was caused to me in my example"

[2018-08-21 18:35] chezsick commented on #38
@vincenzopalazzo Good I Success Set This Look And Feel, But I Compile Self CryptImage :1st_place_medal:

[2018-08-21 18:35] #38 closed

[2018-08-21 18:40] vincenzopalazzo commented on #38
@chezsick Good

[2018-08-21 20:43] wiese42 opened #40 "not an issue"
just want to let you know that my project which is making use of your material style laf is now available at https://github.com/wiese42/krayon4sbgn.

[2018-08-21 20:48] vincenzopalazzo commented on #40
@wiese42 Woow, too, I'm having a look at the kotlin, how do you think? can I have a feed from you?

Sorry for the intrusion

[2018-08-22 06:00] wiese42 commented on #40
@vincenzopalazzo kotlin's great. see https://medium.com/@magnus.chatt/why-you-should-totally-switch-to-kotlin-c7bbde9e10d5

[2018-08-22 09:31] hasankaWi opened #41 "JLabels are opaque"
Hi, maybe I missed something but is there a way to set the labels not opaque?

[2018-08-22 10:36] vincenzopalazzo commented on #41
Hello @hasankaWi , it seemed strange and I tried to declare a new JLabel in the demo and I got this result, and 'equal to what you get? (ie it does not seem opaque)

![pippo](https://user-images.githubusercontent.com/17150045/44458851-caab3580-a607-11e8-9ac4-d57cdf5bd87f.png)

ps: even if the code is set to true.
if you make it opaque you can post a screen and to solve the problem you are currentl

[2018-08-22 13:30] atarw commented on #39
Yeah, I can definitely do this after work

[2018-08-22 14:06] vincenzopalazzo commented on #39
Hello @CesarCoelho, I was born as an apprentice programmer studying in "ant" university, now it's been a while since I was studying "maven" as a construction system so I created a repo (to learn because I had never done so) of maven via [https://jitpack.io/#vincenzopalazzo/material-ui-swing](url) of my fork for project of material-ui-swing
It's been for educational purposes only and you can use it

[2018-08-22 16:31] CesarCoelho commented on #39
Hi @vincenzopalazzo , I am a bit confused with the sentence:
"and you can use it as long as it does not release its version."
What does this mean? Is it still under the Apache License?

Maybe you can make a pull request here on github for @atarw to review and merge?

[2018-08-22 16:35] vincenzopalazzo commented on #39
@CesarCoelho Excuse me I expressed myself very badly.
I meant that you can use mine as long as @atarw  it will not publish that of the official project.

Sorry if I expressed myself badly.

ps: I do not publish the pull because I know that @atarw  it will do much better

[2018-08-22 16:39] CesarCoelho commented on #39
No problem, Grazie mille!

[2018-08-23 00:25] atarw commented on #39
Haha you aren't intruding, don't worry about that.
Anyways, I mavenized the project, I'll look into uploading it into the Maven central repository this weekend since it would be easier to use that way

[2018-08-24 11:22] mmabas77 opened #42 "jtable dosen't subbort utf-8"
i tried to write in Arabic in the head of a jtable but it appears in a wrong way.
![untitled](https://user-images.githubusercontent.com/42513916/44575939-9bbecc00-a78d-11e8-930b-95a88498961a.png)
it should be like that
![untitled1](https://user-images.githubusercontent.com/42513916/44576010-cdd02e00-a78d-11e8-8b03-0926fd610ca1.png)

[2018-08-24 17:59] vincenzopalazzo commented on #42
Hi @mmabas77 , I have news then.
I'll tell you the problem so if someone else has the same problem can find help in this answer.
The problem is that the font did not support Arabic because we used "Roboto", now I added the Arabic version of the google font but I had to change the typology and I added "Noto" not having the possibility to try the support in the whole Arabic with the font I ask you i

[2018-08-25 01:45] atarw commented on #42
I think it's best to switch to [Noto Sans](https://www.google.com/get/noto/) since they seem to support the most languages while still looking "Googley".

They have an [Arabic font](https://www.google.com/get/noto/#sans-arab), and a standard [English font](https://www.google.com/get/noto/#sans-lgc). Google also provides [a tool](https://github.com/googlei18n/nototools/blob/master/nototools/merge_n

[2018-08-25 01:58] atarw commented on #41
Based on the [documentation](https://docs.oracle.com/javase/tutorial/uiswing/components/label.html), the current implementation's behaviour should be correct, i.e. `isOpaque()` should dictate whether or not the label's background is displayed (`true` means it should be printed, and `false` means that it shouldn't).

[2018-08-25 02:00] #41 closed

[2018-08-25 06:37] atarw commented on #42
Pushed the fix

[2018-08-25 06:37] #42 closed

[2018-08-25 13:38] vincenzopalazzo commented on #42
@atarw In fact, I saw that there are many familiar family fonts so a 1.1 GB of space only for fonts seems exaggerated even for me hahaha.

I'm really in love with the font Roboto and so I preferred to leave the swinch of the character only in case you encounter an unsupported language (in our case the Arabic)
I decided to leave as a main font because I believe my pixelated pixelated in the languag

[2018-08-25 17:06] atarw commented on #42
The issue with activating with locale is that if a user's computer set to, say, US English opens something with Arabic text then it won't work.

You could try combining Roboto and the Noto Sans Arabic fonts using Font Forge (FWIW [Google itself uses Noto as a fallback font since Roboto doesn't support Arabic](https://stackoverflow.com/questions/52006088/roboto-does-not-display-correctly-with-the-a

[2018-08-26 06:26] atarw commented on #42
Have fun!!

[2018-08-28 10:21] dis0hope opened #43 "jbutton transparent icon issue"
this is brilliant and it helped me a lot. but one issue when I added this to my project is that the icons that use to be transparent png files now are not transparent.

at default swing, I just had opaque set to false and contentAreaFilled set to false so the background is transparent, somehow the jar file disabled this
is it possible to release a patch for that?

i fixed most of them by changing

[2018-08-28 11:00] dis0hope commented on #43
another rookie question: how do you utilise the fonts included or is it used by the components by default?

[2018-08-28 12:19] vincenzopalazzo commented on #43
Hello @dis0hope ,
If the font means the font, it is used automatically, in this version of the jar the known font is used.
For the main question I can not help you because I find myself temporarily on vacation, but surely @atarw  will solve soon

[2018-08-28 16:00] dis0hope commented on #43
@vincenzopalazzo thanks for responding, i guess i'll wait for @atarw then😁😁

[2018-08-29 20:42] atarw commented on #43
Fixed!

[2018-08-29 20:42] #43 closed

[2018-08-31 17:47] dis0hope opened #44 "Possible text area support?"
Would really appreciate text area support as it can have multiline.

[2018-08-31 18:45] vincenzopalazzo commented on #44
Hello @dis0hope,
The latest version of the jar has been added by me, on my demo no problem, see you too (both disabled and enabled)
![bugfunzionante](https://user-images.githubusercontent.com/17150045/44930480-b9c49780-ad5e-11e8-9a29-afacd59c5916.png)

Continue to give problems you can post a screen or describe the problem in more detail? (both fantastic old things)

[2018-08-31 20:35] atarw commented on #44
If I understand you correctly is it the color of the TextArea that isn't correct? Because that can be changed.

If it's something else, you can try creating your own `TableCellRenderer` class that extends `MaterialTableCellRenderer` which will then override `getTableCellRendererComponent()`. The new implementation can then call the super class method `MaterialTableCellRenderer.getTableCellRenderer

[2018-08-31 20:53] dis0hope commented on #44
@atarw
![s](https://user-images.githubusercontent.com/42769475/44935155-de753b00-ad6f-11e8-9f49-589f1984aeaf.PNG)
Yeah, basically it looks incoherent. and it loses some original jtable setting, like selecting a row will change the colour of the whole row. and im not sure how to do that with an extended text area class.

while extending MaterialTableCellRenderer doesn't support
         `this.setWr

[2018-09-01 06:48] atarw commented on #44
Oh okay I understand now. I could try to make `MaterialTableCellRenderer` extend from `JTextArea` instead but I'll need to do a bit more testing in the morning.

For now since `MaterialTableCellRenderer` indirectly extends from `JLabel` you can try [wrapping words in the JLabel](https://stackoverflow.com/questions/7861724/is-there-a-word-wrap-property-for-jlabel) as a work around.

[2018-09-01 10:58] hamid-nazari opened #45 "Suggestion: OSGi bundles"
Since OSGi is getting more usecases around (me too!) I think it would be a proper suggestion to modify your project to produce release OSGi bundles that can easily be consumed. For instance, you may use maven's BND plugin to do the job.

[2018-09-03 15:27] CesarCoelho commented on #39
Hi @atarw , is it already available in Maven central repository? (I didn't check)
If so, I guess we can close this issue!

[2018-09-04 04:00] atarw commented on #39
Oops I'm sorry it hasn't been done yet, life's been getting in the way :(
The next week will be fairly busy for me so I'll try to do it by Friday, sorry for the delay

[2018-09-04 04:00] atarw commented on #45
Oops I'm sorry it hasn't been done yet, life's been getting in the way :(
The next week will be fairly busy for me so I'll try to do it by Friday, sorry for the delay

[2018-09-04 11:36] khadapps opened #46 "Not an issue. How can I change the color of the unselected TextField to #232323?"
Sorry about that awful question, but I've tried to change on the project and build using netbeans but it gives me an error when I put the jar on my project.

I can't find a way to do this.

[2018-09-04 11:38] khadapps commented on #46
Exception in thread "main" java.lang.ExceptionInInitializerError
	at mdlaf.MaterialLookAndFeel.initComponentDefaults(MaterialLookAndFeel.java:148)
	at javax.swing.plaf.basic.BasicLookAndFeel.getDefaults(BasicLookAndFeel.java:148)
	at javax.swing.plaf.metal.MetalLookAndFeel.getDefaults(MetalLookAndFeel.java:1577)
	at javax.swing.UIManager.setLookAndFeel(UIManager.java:539)
	at MainClass.MainClass.m

[2018-09-04 12:31] vincenzopalazzo commented on #46
Hello @khadapps ,
I was thinking about how to make personalization easier, while I give you a hand in personalization, try the following piece of code after setting the look and feel.

`UIManager.put("TextField.inactiveBackground", new Color(35, 35, 35);`

I hope to be proved helpful

[2018-09-04 13:29] khadapps commented on #46
Many thanks Vincenzo!
But I can't make it work...
I've tried to change "inactiveBackground" to "unfocusedBackground" but neither of them works.

[2018-09-04 18:06] vincenzopalazzo commented on #46
@khadapps Can you post the code ?? and above all the complete exception?

[2018-09-04 23:08] atarw commented on #46
Wait I'm a bit confused. Is the issue that Netbeans doesn't load the jar or does it have to do with the text field?

[2018-09-05 07:26] vincenzopalazzo commented on #46
@atarw The problem is not netbinse 'cause I test the look and feel I always do it with him, rather I think his jar is corrupt.

Yesterday I was fixing a few things on my fork and I got a similar error, very similar so I think the JtextField is ok

ps: Excuse the intrusion

[2018-09-06 17:43] khadapps commented on #46
Hello, my problem is just that I can't change the color of the unfocused background of the JTextField.
So far I've tried things like the code `UIManager.put("TextField.inactiveBackground", new Color(35, 35, 35);` code but it didn't works.

[2018-09-07 17:43] atarw commented on #46
Fixed!

To change the active color of a JTextfield, change `JTextfield.selectionColor`, or for the unfocused background, changing `UIManager.put("TextField.inactiveBackground", ...)` should work.

You can also change `JTextField.selectionTextColor` and `UIManager.put("TextField.inactiveForeground", ...)` for more customization

[2018-09-07 17:43] #46 closed

[2018-09-09 20:28] atarw commented on #39
Ultimately I've decided not to upload this to maven just yet because I don't think this look and feel is quite stable yet (still a lot of quirks) and I'd rather wait until it's more stable. I promise this will happen eventually!!

[2018-09-09 20:28] #39 closed

[2018-09-09 21:27] atarw commented on #45
Oops sorry for the delay: I've added support for this (I've never used OSGi before so please tell me if I did anything wrong!)

[2018-09-09 21:27] #45 closed

[2018-09-12 18:26] hamid-nazari commented on #45
Thanks, I'll check it out and will come back to you later.

[2018-09-15 16:15] CesarCoelho commented on #39
Alright, no problem! I will create a new issue as: "Upload to Maven Central", just so you won't lose track of it.

[2018-09-15 16:17] CesarCoelho opened #48 "Upload to Maven Central"
The project is already mavenized.
It can be uploaded to Maven central to make the resolution of dependencies much faster.
Related with this issue:
https://github.com/atarw/material-ui-swing/issues/39

[2018-09-15 16:24] CesarCoelho opened #49 "target folder on the repo"
Hi,
Usually one does not commit and push the target folder to the repo.
You can create a ".gitignore" file on the root folder of the repo with the folders not to upload.

Example:   .gitignore
**/target/
**/.svn/
*.iml
**/.idea

[2018-09-16 10:32] vincenzopalazzo commented on #48
Hello @CesarCoelho,
I have made some personal changes to the project (such as adding a component that is the same as Android Toast), but the project is the same and kept up to date on all the fixes made to the original project.

I protest using this [https://jitpack.io/#vincenzopalazzo/material-ui-swing/v0.9.4.5](url) since jitpack is not very expensive in mavenizing the projects then initializing

[2018-10-13 09:53] SyedFaraz55 opened #50 "Query"
Can i use this for production purpose ??

[2018-10-13 09:56] SyedFaraz55 opened #51 "Query"
How can i change color of buttons and textfields ??

[2018-10-13 10:08] vincenzopalazzo commented on #51
Hello @SyedFaraz55 ,
You can change the color of the buttons with the secret code

`nameYourVariable.setBackground (yourColor);`

If you want to change the color to all buttons at the same time you can switch to UIManager, with the following code

`UIManagerUI.put("button.background", MaterialColor.YOUR_COLOR)`

The same goes for the other components, you can find a more or less complete list of U

[2018-10-13 10:52] SyedFaraz55 commented on #51
please let me know can i use this production purpose as well, i really like it and i want to build my applications on that.

Thank you. :)

[2018-10-13 11:05] SyedFaraz55 commented on #51
please let me know can i use this production purpose as well, i really like it and i want to build my applications on that.

Thank you. :)

[2018-10-13 11:35] vincenzopalazzo commented on #51
Thank you. :)

@SyedFaraz55  I'm glad that you like the project, I'm not the owner and creator of the project, I'm just a simple contributor who is learning, I do not think there are problems, I would like to; wait for the answer from @atarw

[2018-10-13 17:44] atarw commented on #51
Yeah you can definitely use it for whatever you want!

[2018-10-14 04:50] SyedFaraz55 commented on #51
Ah that's great ! Thanks and i really like your project.. :1st_place_medal:

[2018-10-15 04:46] #51 closed

[2018-10-15 04:46] #50 closed

[2018-12-26 14:33] TheGreat2201 opened #52 "JPanel titled border font isn't changed"

[2018-12-26 15:30] TheGreat2201 commented on #52
Oh sorry i meant JPanel titled border

On Wed 26 Dec, 2018, 20:54 Vincenzo Palazzo <notifications@github.com wrote:

On 26-Dec-2018 8:54 PM, "Vincenzo Palazzo" <notifications@github.com> wrote:

Hello @TheGreat2201 <https://github.com/TheGreat2201>,

You're referring to the title in the JFrame, right?
Because the JPanel does not have a setTitle () method, so a possible
setting in a JPanel does not

[2018-12-26 15:37] TheGreat2201 commented on #52
@vincenzopalazzo ![](https://i.imgur.com/Gk8u6Py.png)
Like this

[2018-12-26 15:56] vincenzopalazzo commented on #52
@TheGreat2201, I understand your problem, we will try to solve the problem as soon as possible.

Thanks for the tip

[2018-12-26 16:00] TheGreat2201 commented on #52
@vincenzopalazzo Sure. Can you tag me in the next commit which fixes this?

[2018-12-26 16:10] vincenzopalazzo commented on #52
@TheGreat2201 yes

[2018-12-26 21:14] vincenzopalazzo commented on #52
Hello @TheGreat2201,
I tried to fix your problem and now I have run a pull request, I could not find a better solution for now and then I created a Wrapper and encaps the code inside MaterialTitleBorder, you can create your MaterialTitlePane with the following piece of code:

`MaterialTitleBorder materialTitleBorder = new MaterialTitleBorder("Test new Title Border component");`

Or you can customi

[2018-12-26 21:16] TheGreat2201 commented on #52
Thanks a lot. I'll try this

On Thu 27 Dec, 2018, 02:44 Vincenzo Palazzo <notifications@github.com wrote:

[2018-12-26 23:16] atarw commented on #52
There's a better way using UIManager properties that doesn't require you to change your code to use a new border class :) Pushed a fix to the repo, thank you @vincenzopalazzo for your help!!

[2018-12-26 23:16] #52 closed

[2018-12-26 23:30] vincenzopalazzo commented on #52
@atarw There's a better way using UIManager properties that doesn't require you to change your code to use a new border class :) Pushed a fix to the repo, thank you @vincenzopalazzo for your help!!

[2018-12-29 15:38] vincenzopalazzo commented on #37
@atarw, I fixed the problem, Tell me what you think :)

[2018-12-29 21:03] #37 closed

[2019-01-20 20:08] ColoredCarrot opened #55 "NPE on application exit if JTextField has focus"
When exiting the application, a `NullPointerException` is thrown if a `JTextField` is focused.

Presumably, this is because the field loses focus, thus the `MaterialTextFieldUI` tries to change color (note how a focused text field will display a blue line at the bottom); however, the `Graphics` object passed to `getComponentGraphics` is null.

A quick fix might be a simple change in `MaterialTextF

[2019-01-20 20:32] vincenzopalazzo commented on #55
Hello @ColoredCarrot,

I have noted this problem, I will fix the problem in the next hours, in the nex update I will introduce a difensive program in the all code

Thanks for your help.

[2019-01-20 20:35] ColoredCarrot commented on #55
Hey @vincenzopalazzo.

thanks for the quick response! I'm looking forward to the fix. Keep up the great work with this library :grin:

[2019-01-20 20:51] vincenzopalazzo commented on #55
@ColoredCarrotI I fixed in the my repo the problem, if the problem is resoluted i will init a fix in the original branch.

The jar whit fix is [here](https://github.com/vincenzopalazzo/material-ui-swing/releases).

[2019-01-20 20:58] vincenzopalazzo commented on #55
@ColoredCarrot Let me know if I can deal with the pull request.

[2019-01-20 20:59] ColoredCarrot commented on #55
Sure, of course

[2019-01-20 21:37] ColoredCarrot commented on #55
Alright, no problem, take your time; I much prefer a complete fix than a rushed "bodge" :laughing:

[2019-01-20 21:58] vincenzopalazzo commented on #55
@ColoredCarrot the jar fix is now disponible [here](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V9.6.1)

[2019-01-21 03:46] #55 closed

[2019-01-21 03:46] atarw commented on #55
Thanks for fixing it!

[2019-01-21 09:15] vincenzopalazzo commented on #55
@atarw not to thank me is a pleasure

[2019-01-23 11:18] zajkivsky commented on #48
+1

Could be great if you provide builds on central maven repository.

[2019-01-23 11:30] vincenzopalazzo commented on #48
Hello @zajkivsky,

I think the motivation of @atarw [(here)](https://github.com/atarw/material-ui-swing/issues/39 ) is still valid and I think that the look and feel still contains oddities, the most recent update has corrected nullpointer, also it would be cool to add a method of setting styles easier (I'm working) before create the maven repository, but this is only my personal thought.

[2019-02-20 13:22] Reap00r opened #57 "JXTaskPane Support"
The Material LaF is very nice, thanks for doing this. I'm currently working on a product which uses a SwingX Component JXTaskPane. Would it be possible to add support for this?

[2019-02-20 21:44] vincenzopalazzo commented on #57
@Reap00r Hello, Does not know this library but taking a look at the code of the project open surse I know that you can not support it in our look and feel because you should also change the swingx library.

But we wait @atarw and see if he agrees with me or I said a bullshit

in the meantime, this is what made me say this -> [Click me](https://github.com/ebourg/swingx/tree/master/swingx-plaf/src/t

[2019-02-21 07:48] Reap00r commented on #57
Hi @vincenzopalazzo, thanks for the quick resonse.

Sure, we can wait on @atarw for his reply.
I took a look at the UI myself and thought it might be possible to override the defaults without any changes to the swingx library, but maybe I'm wrong and I missed something ;)

The way you currently set the UI is something like this:
table.put("TableHeaderUI", tableHeaderUI);
So wouldn't it be possible

[2019-02-21 09:31] Reap00r opened #58 "Table with Date as field is not using materialdesign cell renderer"
Hi,
I got an issue where I got a table with a tablemodel which has a tableformat that includes a Date object.
Somehow the cellrenderer doesn't use the MaterialTableCellRenderer but the DefaultTableRenderer. I think this is not supposed to happen, since I painted my Table in blue and now all Columns are blue when selected, but the cell with the Date object ist still grey.
Thanks :)
![errorwithdatei

[2019-02-21 13:50] vincenzopalazzo commented on #58
Hello @Reap00r ,

How change color a cell? you can post the code?

[2019-02-21 14:09] vincenzopalazzo commented on #57
Hi @Reap00r,

I try to look the code and i try a implement a solution

[2019-02-21 14:11] Reap00r commented on #58
Sure, I can't post you a whole project, but I used to override the defaults by adding a new java class which extends the MaterialLookAndFeel. In the initComponentDefaults I set the back and foreground differently to the normal values
protected void initComponentDefaults(UIDefaults table) {
        super.initComponentDefaults(table);
        table.put("Button.background", MaterialColors.LIGHT_BLUE_

[2019-02-21 15:25] vincenzopalazzo commented on #57
@Reap00r I have a news,

This are a results for my first test, and I have a question for you, **You know which component draws the collapsible panel (the celestial one), I tried to look at the swingx code but I just can not find it?**

This a init a work
![selection_010](https://user-images.githubusercontent.com/17150045/53180141-53298380-35f5-11e9-8b2e-e8fddd0816bb.png)
![selection_011](https://u

[2019-02-21 16:08] Reap00r commented on #57
@vincenzopalazzo Thanks for your update.
Unfortunately I'm currently not at work and can't take a look at our code. I will try to help you investigate tomorrow and will let you know if I find something.

[2019-02-21 17:15] vincenzopalazzo commented on #57
@Reap00r This is end work, sorry for my instability but I'm tired but I only finished the exam session last night, and I'm sorry if I was surly and I said that you could not support the component because it was not part of swing, sorry.

![finalclose](https://user-images.githubusercontent.com/17150045/53187949-89223400-3604-11e9-9e10-1ea751d1a310.png)
![finalopen](https://user-images.githubusercon

[2019-02-22 01:18] atarw commented on #57
Sorry haven't been active on Github recently - thank you @vincenzopalazzo for fixing this issue!

[2019-02-22 01:18] #57 closed

[2019-02-22 01:20] atarw commented on #58
I'll try to take a look at this later, unfortunately I have exams going on and I won't be able to fix this until next week :/

Apologies for any inconvenience

[2019-02-22 09:07] Reap00r commented on #58
No worries, your exams are more important ;)
I just wanted to let you know that the same problem occurs for numbers like integer values as well for me.

[2019-02-22 12:45] Reap00r opened #60 "MouseOver effect on components"
This is rather a question than an issue. I am working on a big projects with a couple of hundret buttons, a lot of menus and so on. We used a very old L&F until I found yours. Now what I am missing is like a default mouse over effect on elements. Like when you hover over a menu, it just stays white, or over a button, a tabbedPane or whatever.
Don't get me wrong, I saw that it is possible to set Ma

[2019-02-22 15:50] vincenzopalazzo commented on #60
Hello @Reap00r ,

Yours refer to the added a MaterialUIMoviment into MaterialButtonUI, right?

[2019-02-22 16:22] vincenzopalazzo commented on #60
@Reap00r

Look at this example and ignore color :P
![screenshot from 2019-02-22 17-19-38](https://user-images.githubusercontent.com/17150045/53255617-4a54b280-36c6-11e9-91ff-33ba1a28eac3.png)
![screenshot from 2019-02-22 17-19-49](https://user-images.githubusercontent.com/17150045/53255630-4d4fa300-36c6-11e9-97db-8b717c88db08.png)

I undestend your questions?

ps: You did not explain yourself wron

[2019-02-23 00:10] vincenzopalazzo commented on #58
@Reap00r Hello, I try override method in the MaterialTableCellRenderer but I could not reproduce your problem could you kindly try this version? and let me know?

[Version beta try fix issue #58](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/0.9.7)

[2019-02-25 07:22] Reap00r commented on #60
@vincenzopalazzo
I refer to any UIMovement. Not a specific one like in your example the button.
When I hover over a JMenu, or Elements in a JTabbedPane I want the element to somehow "pop up" or be circled with a color or so. Just so you know that it is an element which can be selected. Otherwise the people might think this is just plain text.
In this picture you see that when I CLICK the JMenu, th

[2019-02-25 07:44] Reap00r commented on #58
@vincenzopalazzo
This fixes my problem, thanks for the update!

[2019-02-25 07:44] #58 closed

[2019-02-25 07:49] Reap00r commented on #60
I had a closer look at this link which shows a hover effect for buttons:
https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/0.9.7
Should this already work in my program when I download the attached version?
I tried it and it somehow didn't do anything to my button. I removed the part for the UI Movement in my code and added table.put("Button.mouseHoverColor", MaterialColors.GRAY_500

[2019-02-25 08:35] vincenzopalazzo commented on #58
@Reap00r Thanks for you, I create a pull request in the new day, hoping to solve the Hover effect in the same pull request

[2019-02-25 08:38] vincenzopalazzo commented on #60
Hello @Reap00r,

Yes, but not work, right?? sorry but here is a partial fix, to @atarw [(look this)](https://github.com/atarw/material-ui-swing/pull/61) did not like my solution and in fact these days I thought about it and it's not fantastic so tonight if I'm at a good point I want to start working on a new implementation

Of course, yes, I have not done it yet because I wanted to find a solution

[2019-02-25 09:37] Reap00r commented on #60
Hi @vincenzopalazzo ,
no problem, I'm sure you will come up with a great idea how to set this up :)

Regarding your question:
I really like the changes you did to the font. We are only using Windows, so I can only speak for that OS, but I really like it.
The changes changed the height of text and so on, and I am currently trying to resize our dialogs so the text fit in perfectly ;) Now after your

[2019-02-25 09:52] vincenzopalazzo commented on #60
@Reap00r I tried a new method for support font, indeed in platform windows the look and fell used a Windows font.

Surely I want resolve this problem, and that was a first test but I do not know what he thinks of atarw  for this ide.

You can find my planning here, I hope that when atarw he will have some time to take a look at my ideas too.

Ps: If @atarw I agree I create a pull request for font

[2019-02-25 23:42] vincenzopalazzo commented on #60
@Reap00r I'm working on the full version of the pull request, but now I stop because I'm tired and I want to avoid lowering the quality of my work, so I released a version that should fix the bug of the hover mouse effect and added almost all the cursor on the components

If you try it, will you let me have news? I leave you the link [here](https://github.com/vincenzopalazzo/material-ui-swing/rele

[2019-02-26 01:18] atarw commented on #60
Sorry I'm a bit behind - what was the font problem solution and where can I find it? I'd love to take a look at it

[2019-02-26 09:13] vincenzopalazzo commented on #60
Hi @atarw,

Sorry, [this](https://github.com/vincenzopalazzo/material-ui-swing/blob/masternow/src/mdlaf/utils/MaterialFontFactory.java) is my solution, I used a Pattern Factory and the Singleton for reducing created All font when not necessary and using a file property for load the font according the OS.

And this are another skills I would apport, [Like it?](https://github.com/vincenzopalazzo/mat

[2019-03-01 07:32] Reap00r commented on #60
Hey @vincenzopalazzo,
I took a look at your example and saw that when you hover over any element (e.g.) button where the background color should change, this ONLY happens when you move the mouse away from the current element and hover over it again. I think that is a bug and should work directly when you hover over an element.
But I like the rest though ;)

[2019-03-01 16:21] vincenzopalazzo commented on #60
Hey @Reap00r, Thanks for trying my new test update and sorry if he contains an error but I do not understand the problem, your result is different to this gif [Click me](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V0.9.8)?

Sorry for my difficulties with English

[2019-03-04 06:21] atarw commented on #60
Just pulled in the change - I cracked my laptop screen and won't be able to fix it until next week. I accepted @vincenzopalazzo's pull request though so hopefully that fixes the issue

[2019-03-04 06:21] #60 closed

[2019-03-04 09:02] vincenzopalazzo commented on #60
@Reap00r We wait for your feedback :)

[2019-03-04 09:06] Reap00r commented on #60
@vincenzopalazzo Sorry for being late. I had a look at your example again and this time it worked like it should.

[2019-03-04 09:12] vincenzopalazzo commented on #60
@Reap00r

I love this answer :) then is OK, see you later in nex moment :) thanks for having permitted added new skills at the look and feel with you help and you issue :)

[2019-03-04 10:44] Reap00r commented on #60
@vincenzopalazzo I had a third look at your example and wanted to ask if you added a functionality so the effect for the mouse-over (like you did for JButton) is also added to Menu, Menuitems, Elements from a TabbedPane and so on.
Maybe I didn't see it, so thanks for helping me :)

[2019-03-04 11:00] vincenzopalazzo commented on #60
@Reap00r I working on, in this week hope finish work.

I wanted to be sure that code work :) the fix will arrive coming soon

[2019-03-04 12:13] Reap00r commented on #60
@vincenzopalazzo Great! Thanks for doing this :)

[2019-03-06 20:22] vincenzopalazzo commented on #60
Hello @Reap00r,

I added the effect mouse hover on the JMenu and row on Jtable, can you test my work, please? :)
[new skill](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V0.9.8)

Can you give me an example?

[2019-03-07 08:00] Reap00r commented on #60
Hi @vincenzopalazzo
your changes in regards to the hover effect work for all buttons now. But the changes for the different mouse curser doesnt work for all of them. Here it works:
![gifworks](https://user-images.githubusercontent.com/4528294/53940002-d4cce700-40b4-11e9-96f0-f16d527bce63.gif)
Here it doesn't:
![gifnotworking](https://user-images.githubusercontent.com/4528294/53940061-f9c15a00-40b4

[2019-03-07 09:59] vincenzopalazzo commented on #60
Hello @Reap00r,
Thanks for your help, I'm trying to add a hover mouse effect to the table bread and I had not thought that if I declared the selected line I could create problems.

The thing of the buttons is really bizarre, I'll try to take a look at what happens

for now, thanks, I added all your problems in my schedule.

do you think that if the mouse hover on the table works well, is it a cool

[2019-03-07 10:36] Reap00r commented on #60
Hello @vincenzopalazzo
thank you for spending the time on fixing this :)

I don't know if I am the right person to ask in regards to visual designs ;) I think it could look cool. But the hovering effect has to be different than the actual selected color. If you could do that, I think that would be great. Also making it possible to switch it on and off would make it more versatile.

[2019-03-07 11:15] vincenzopalazzo commented on #60
@Reap00r, Thanks for your idea, I will work on :)

do not regret me, the merit is @atarw  for creating a look and feel so cool.

See you at the next fix :-)

[2019-03-07 23:03] vincenzopalazzo commented on #60
Hello @Reap00r,

This [version](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V0.9.8) contains a mouse hover for JMenu and JTabbledPane, I removed mouse hover for rows JTable because the code I'm not like, I will try it in next time.

I continue with the pull request but you let me know if there are any bugs

[2019-03-08 13:17] Reap00r commented on #60
Hello @vincenzopalazzo,

I like the changes for the JMenu and JTabbedPane.
I also checked the changes for the JXTabbedPane and I like them as well :)

In the example where it is not working you can see that I hover over a tabbedPane element ("Dokumente") and in my opinion it should change the Background of the selected element to a different color or change the cursor. Like the hover effect has li

[2019-03-08 14:52] vincenzopalazzo commented on #60
Hello @Reap00r,

Good, thans so much

I also checked the changes for the JXTabbedPane and I like them as well :)

Do you refer at this arrows?
![selection_018](https://user-images.githubusercontent.com/17150045/54035113-dd0e4a80-41b8-11e9-99da-995c8e40afff.png)
![selection_019](https://user-images.githubusercontent.com/17150045/54035116-e0a1d180-41b8-11e9-8e73-18a823e02e6e.png)

The combo box is f

[2019-03-08 16:06] Reap00r commented on #60
@vincenzopalazzo

selection_018
selection_019
Yes, exactly.

but you resolve this problem temporarily with this code.
comboBox.addMouseListener(MaterialUIMovement.get(..))
Thanks for the hint ;)

[2019-03-08 18:31] vincenzopalazzo commented on #60
@Reap00r, you have the same problem with the arrows?

[2019-03-09 08:28] Reap00r commented on #60
@vincenzopalazzo  no, I was just talking about switching the icons for expanding and collapsing the tree. Which problems are you talking about?

[2019-03-09 11:48] vincenzopalazzo commented on #60
Hello @Reap00r,

Do you have something to recommend?

I hope none :), it was my incomprehension sorry.

[2019-03-10 07:36] Reap00r commented on #60
Hi @vincenzopalazzo ,
I don't want to change the icons you are using, I just want to switch the icons. What I mean is, that I would show the ">" icon when it is opened (expanded)  and the down arrow when it is closed (collapsed). Currently it is the other way round.

[2019-03-10 10:50] vincenzopalazzo commented on #60
Hello @Reap00r,

Oh ok, I will make the changes in the nex pull request :), should arrive before the my travel.

[2019-03-11 08:53] Reap00r opened #64 "Strange effect when hovering JCombobox"
The combobox react a little bit strange
![GIFCombobox](https://user-images.githubusercontent.com/4528294/54111111-643f0680-43e3-11e9-95e6-a1e4f42ea336.gif)

I think it is good that it changes the color when you hover over it. But I think it should change it back to the default color (white) when you leave the element. Additionally, there are strange black lines / bars when you hover over it. I hav

[2019-03-11 08:54] Reap00r opened #65 "Gap between text and textfield is too short"
I just noticed that the cursor in the textfield is too close to the line that indicates where the textfield is, see the gif. Shouldn't there be more space between the cursor and the line?
![GIFTextfield](https://user-images.githubusercontent.com/4528294/54111209-a2d4c100-43e3-11e9-8d4d-f6df613e98c4.gif)

[2019-03-11 08:57] Reap00r opened #66 "Switch Icons for JXTabbedPane"
Hello @vincenzopalazzo
I would show the ">" icon when it is opened (expanded) and the down arrow when it is closed (collapsed). Currently it is the other way round.

[2019-03-11 08:58] Reap00r commented on #60
Hi @vincenzopalazzo,
I just created 3 issues, 1 for the textfield, 1 for the combobox and 1 for the jxtabbedpane. Hope that was what you wanted me to do :)

[2019-03-11 09:28] vincenzopalazzo commented on #60
Hello @Reap00r,
Thanks for your help :). it was what I wanted

Yesterday I started work in the bit update the look and feel, look [this](https://github.com/vincenzopalazzo/material-ui-swing/commit/2e2d567ecb4cb55a761bbec869097883e627097f)

[2019-03-11 19:59] vincenzopalazzo commented on #66
Hello @Reap00r,  I'm preparing a pull request, the bugs were resolved.
The pull request it will be published on Wednesday evening

Stay tuned :P

[2019-03-12 06:55] Reap00r commented on #66
Hello @vincenzopalazzo, thanks for the update. I will be out of town from today until sunday. So unfortunately I can't test your changes right away when they are released.

[2019-03-12 08:33] vincenzopalazzo commented on #66
Hi @Reap00r,
No problem, If are present the new bugs, we will fix it :)

[2019-03-15 11:32] enwi opened #68 "BasicTaskPaneUI Support"
As I am using a BasicTaskPaneUI in my GUI, would it be possible to add support for that?
This issue might be related to #57

[2019-03-15 11:51] #68 closed

[2019-03-15 12:28] vincenzopalazzo commented on #68
hello @enwi the code supported basicTaskPaneUI but the jar in the relases may be not update, for moment you could using this relases https://github.com/vincenzopalazzo/material-ui-swing

[2019-03-18 02:55] KvnXu opened #69 "Drop Shadow Isn't under Pane"
I am using this code:
`contentPane.setBorder(new DropShadowBorder(new Color(0, 0, 0), 1, 5, .3f, 12, false, false, true, false));`
Which results in this issue:
![a34v](https://user-images.githubusercontent.com/35074883/54503877-3a17a800-48ff-11e9-9174-60c2b7e23086.png)
Note that the shadow sits on the pane and not under it like a border should.
I get the same issue when using:
`contentPane.setBord

[2019-03-18 08:12] lilili87222 opened #70 "Great Work!"
This is a great work for java.
Maybe you can add a demo  as   https://github.com/bulenkov/Darcula/tree/master/demo/swingset3 show user

and maybe you can add some color schema  as   https://bootswatch.com/cosmo/  show ,That is perfect

I can donate or pay to support that work.

[2019-03-18 08:32] vincenzopalazzo commented on #69
Hello @KvnXu,

I am away from home during this time and I cannot see your problem before Wednesday evening.
But I have a question for you, what is the effect you want to get by adding that code ??

[2019-03-18 13:39] KvnXu commented on #69
The shadow is on the pane instead of around it like a border should

[2019-03-18 17:30] atarw commented on #69
There isn't much you can do about that unfortunately. As far as I can tell swing doesn't really support translucent borders as it reserves a "box" for that component including the border so it's impossible for the shadow to overlap with another component in the way you want.

I suggest changing the background colour of the drop shadow to match the red but other than that there isn't much else you

[2019-03-18 20:52] #69 closed

[2019-03-19 13:33] vincenzopalazzo commented on #69
@KvnXu [This](https://stackoverflow.com/questions/19105242/undecorated-jframe-shadow?rq=1) could resolve your problem

[2019-03-21 20:05] vincenzopalazzo commented on #70
Hello @lilili87222,

Thanks for your beautiful words, the new demo was scheduled, show my schedule for this and my project you can find it [here](https://github.com/vincenzopalazzo/material-ui-swing/projects)

For this request, you do you mean the support of new colors or the color change support look and feel for example a dark mode?

I'm I am really grateful for this statement and I think it is

[2019-03-21 23:39] atarw commented on #66
Finally got my laptop screen fixed, thank you for fixing this issue @vincenzopalazzo!! I'll close this issue if everythings working

[2019-03-21 23:39] #66 closed

[2019-03-21 23:40] atarw commented on #65
Closing as it seems to be fixed

[2019-03-21 23:40] #65 closed

[2019-03-21 23:40] atarw commented on #64
Closing as it seems to be fixed

[2019-03-21 23:40] #64 closed

[2019-03-21 23:41] atarw commented on #70
Thank you for your kind words, I can definitely work on adding a demo and some theming options!

[2019-03-22 00:58] lilili87222 commented on #70
Darcula is a relatively mature theme, used by a number of tools such as JetBrains IDEs, android studio. He contains three examples
https://github.com/bulenkov/Darcula/tree/master/demo.
Do the subject can refer to its approach.
As a black theme, Darcula is very good, so it is not so urgent and necessary to be a black theme.
But as a modern theme, there seems to be no great work.
Material-ui-swing i

[2019-03-22 08:44] vincenzopalazzo commented on #70
@atarw *If you like, we can create a timeline and share the work.
If you'd like to help me develop this look and feel :) let me know*

@lilili87222 unfortunately yes JavaFX is cool framework but it's have more problem, but we can do very nice things, it's a great regret not having it in the jdk after 10.
Thank you for your look and feel classification, I fell in love with this project a year ago,

[2019-03-22 08:49] vincenzopalazzo commented on #66
@atarw I'm happy for your screen.
I saw that you closed all the problems of my fixes, and I assume that everything worked, right?

I wanted to ask you if you'd like me to help you develop the look and feel and maybe work together on developing new skills :)

[2019-03-22 09:27] Reap00r commented on #64
@vincenzopalazzo, @atarw
Sorry bothering you again, but I just checked out your new fixes and for me it seems like it didn't fix (all) problems with the graphical issues. In my example I hover over a datechooser, but even when hovering over a combobox the same problem happens.
![GIFComboboxStillNotWorking](https://user-images.githubusercontent.com/4528294/54813032-e6091c80-4c8c-11e9-9cdc-ae44ae859

[2019-03-22 09:33] Reap00r opened #71 "Buttons with opaque false are rendered pixelated at the sides"
Hi,
since your latest updates the buttons look quite strange in my program.
I set button.opaque(false) and now it looks bad for either the JTaskPane Header and the normal JButtons as well.
This is how it looks for me right now:
![taskPaneNotWorking](https://user-images.githubusercontent.com/4528294/54813295-83645080-4c8d-11e9-8eb1-02d6cdc972bc.JPG)

This is how it used to look:
![taskPaneWorking](

[2019-03-22 10:03] vincenzopalazzo commented on #71
@Reap00r I added the new icons for a test, for the moment you can change the icons with the UIDefault

[code]

[2019-03-22 10:12] vincenzopalazzo commented on #64
Hi @Reap00r,
Don't apologize, we all want to make the project more robust and more beautiful, thanks for your help.

I didn't release the update right away, but I tested it and released the update only after being sure that it was displayed correctly this is what I see
![gitf](https://media.giphy.com/media/n5HifvVOT2HE0bQLeU/giphy.gif)
![Selection_032](https://user-images.githubusercontent.com/171

[2019-03-22 10:14] Reap00r commented on #71
In the latest version there is no more class MaterialImageFactory.
I used to do that to turn around the pictures but now I can't find this class anymore

[2019-03-22 10:20] vincenzopalazzo commented on #71
@Reap00r in my version is introducing a MaterialImageFactory but I using a Pattern Factory for not load all image in the bootstrap app.
In the @atarw not is present this pattern but is present MaterialImage.YES_COLLASSED

But the old icons aren't include, sorry I adding in this day your favorite icon :)

[2019-03-25 08:12] Reap00r commented on #64
Hi @vincenzopalazzo,
I can see in your example that it is working.
However, I pulled the current project (material ui) and started the demo and tried it:
![GIFHover1](https://user-images.githubusercontent.com/4528294/54904057-b3099780-4edd-11e9-8fad-548faf51430f.gif)
![GIFHover2](https://user-images.githubusercontent.com/4528294/54904072-bac93c00-4edd-11e9-8dad-71bae30bde66.gif)

Maybe this only h

[2019-03-25 11:44] vincenzopalazzo commented on #64
Hi @Reap00r,
I added this fix to @atarw project, now I pull the project and I see this
![No bug](https://media.giphy.com/media/8vOETXjb2fjB4qiEyt/giphy.gif)

On linux this problem does not exist, you use windows if I remember correctly right?

Can you give me time until tonight so I try to see if this bug is present on windows?

My version and that one goofy are perfectly aligned, I pay a lot of a

[2019-03-25 12:31] Reap00r commented on #64
Hi @vincenzopalazzo,
sure, take the time you need to fix it :)
And yes, I am using windows 10.

[2019-03-25 13:02] vincenzopalazzo commented on #64
@Reap00r thanks I will let you know

[2019-03-25 18:15] vincenzopalazzo commented on #71
Hi @Reap00r,

This bug is not present in Linux and Windows, do you still see this bug?Otherwise you could close the issue, all these issues bring anxiety :)

[2019-03-25 18:23] vincenzopalazzo commented on #64
Hi @Reap00r,

I would like to say something, "**May windows be cursed**" :)

I can't fix the bug in the evening, I have a bug to fix by tomorrow about the development of a blockchain parser because I have a deadline, if @atarw doesn't have time or if he wants me to take care of it I could wait until the end of this week, I promise which I will do my best to release the fix and change the JXTablePa

[2019-03-26 08:03] Reap00r commented on #71
Hi @vincenzopalazzo,

I am currently working with the latest version of this project. I used maven to build the jar (first cleaning, then deploying) and in result, I got a material-ui.swing-0.9.3.3.jar in the target folder of the project.
I then switched the version you gave me since your last fix with this version and now I see the following problems:
Opaque buttons that are set to false are rend

[2019-03-26 08:37] vincenzopalazzo commented on #71
Hi @Reap00r,

The version 9.3.3 is the last version released atarw, I create the jar now and I see the bug
- There is no hovering effect on the JMenu.
- Opaque buttons that are set to false are rendered pixelated because the border is not valid
- Combobox still looks strange when hovering over it
- JSpinnet mouse hover problem *(On windows, this problem is very accentuated but it is clear that the

[2019-03-26 08:49] Reap00r opened #72 "There is no hovering effect on the JMenu"
Currently there is no more hovering effect on a JMenu (tested on Windows 10)

[2019-03-26 08:51] Reap00r opened #73 "Opaque buttons that are set to false are rendered pixelated because the border is not valid"
![pixeledBorder](https://user-images.githubusercontent.com/4528294/54983283-c2a3e180-4fac-11e9-828b-246b30902230.JPG)
In earlier version, the buttons looked nice

This is related to: https://github.com/atarw/material-ui-swing/issues/71

[2019-03-26 08:56] Reap00r opened #74 "Combobox looks strange when hovering over it on Windows"
The hovering effect on windows draws strange things onto JCombobox
![GIFComboboxWrong](https://user-images.githubusercontent.com/4528294/54983527-59709e00-4fad-11e9-84bb-ff07330b0d30.gif)

[2019-03-26 09:00] Reap00r opened #75 "JSpinner mouse hover problem"
When you hover over the spinner elements, they either draw the last hovered color see first GIF or draw strange things onto the spinner

![GIFHover1](https://user-images.githubusercontent.com/4528294/54983624-8329c500-4fad-11e9-99b0-659bb38b2837.gif)

![GIFSpinner](https://user-images.githubusercontent.com/4528294/54983875-f4697800-4fad-11e9-800e-f29b3b77b610.gif)

[2019-03-26 09:05] Reap00r commented on #71
Hi @vincenzopalazzo,
I just created an issue for all of them. I will close this issue now.
Don't worry, I believe in you :) You already did a bunch of good things, and in terms of coding there is always a possiblity of something bad happening with a strange side effect ;)
Thanks for taking your time and fixing those issues!

[2019-03-26 09:05] #71 closed

[2019-03-26 09:11] Reap00r commented on #64
Hi @vincenzopalazzo,
I feel you in regards of windows :D but I guess every OS has its quirks ;)
no problem, just do it whenever you have the time to fix it. I am glad you are taking the time to do that anyway :)
I opened an additional issue for this with Windows in its title

[2019-03-26 10:30] vincenzopalazzo commented on #64
@Reap00r, Mine was just a way to joke :)

[2019-03-26 14:17] atarw commented on #64
I'll be pretty busy until the end of the week too but after that I can try to work on it!

[2019-03-28 22:28] vincenzopalazzo commented on #73
Some problems were doubt to me, the fault of keeping the two versions aligned. sorry

Now I hope this problem is solved

[2019-03-28 22:29] vincenzopalazzo commented on #74
Hi @Reap00r,

The problem has the border arrow button,

I hope this issue is fixed

[2019-03-28 22:30] vincenzopalazzo commented on #75
Hi @Reap00r,

The problem has equal to combo box,

I hope this issue is fixed

[2019-03-28 22:31] vincenzopalazzo commented on #72
Hi @Reap00r,

The solution is only testing, I attend your feedback :)

I hope this issue is fixed

[2019-03-29 00:10] atarw commented on #75
Merged, going to leave this open in case there are still any issues

[2019-03-29 10:00] Reap00r commented on #72
Closing this because it's working. Great work

[2019-03-29 10:00] #72 closed

[2019-03-29 10:01] Reap00r commented on #74
Closing this because it's working. Great work

[2019-03-29 10:01] #74 closed

[2019-03-29 10:02] Reap00r commented on #75
Closing this because it's working. Great work

[2019-03-29 10:02] #75 closed

[2019-03-29 10:08] Reap00r commented on #73
Hi @vincenzopalazzo,
it seems to me that no matter if I set buttons to opaque true or false, they look exactly the same. The borders of the button with opaque false should be somewhat round.
This is how they look no matter what I set opaque to:
![noRoundBorder](https://user-images.githubusercontent.com/4528294/55225446-eb2d1500-5212-11e9-9a25-2ca206891955.JPG)

[2019-03-29 10:10] Reap00r commented on #73
Hi @vincenzopalazzo,
it seems like the buttons look the same now, with or without opaque false. They don't look round at the edges as they are supposed to.
This is how they look no matter what I set them to:
![noRoundBorder](https://user-images.githubusercontent.com/4528294/55225546-2c252980-5213-11e9-9fbd-77c4e1557dcd.JPG)

[2019-03-29 11:36] vincenzopalazzo commented on #73
Hi @Reap00r,
can you give me an example on how you want me to paint the button when it is setOpache to true and when it is false? I tell you how I imagine it, when the button is opaque then it has the same color as the analogue panel when it is not opaque, it takes the color of the button set in the UIDefault, do you want this effect? sorry but I never had the need to use this swing feature which

[2019-03-29 13:52] Reap00r opened #77 "JScrollbar mouse hover problem"
@vincenzopalazzo
I just noticed that the problem still exists that was fixed here:
https://github.com/atarw/material-ui-swing/issues/75
But this time it is for JScrollbar

[2019-03-29 14:14] vincenzopalazzo commented on #77
Hi @Reap00r,

Thanks the problem is the border button, I have not noticed this before, sorry I will correct as soon as you give me more info on #73  so as to correct both

[2019-03-29 14:23] Reap00r commented on #73
Hi @vincenzopalazzo,
sure, here is an example how it used to look in an earlier version of this project:
https://user-images.githubusercontent.com/4528294/54813278-7e9f9c80-4c8d-11e9-9159-9c7004e12868.JPG
and if it is set to false, it should look like that again.

When it is set to true, it should look like that:
![noRoundBorder](https://user-images.githubusercontent.com/4528294/55239104-44f30680-

[2019-03-29 22:02] vincenzopalazzo commented on #73
Hi @Reap00r,

So the effect that should appear is:

**When button.setOpache (true)**:
 - border rectangular

**When button.setOpache (false)**:
- Border not rectangular rounded

Did I get it right?

[2019-03-29 23:17] vincenzopalazzo commented on #73
@Reap00r After a long time I understand your problem, excuse my poor English skills but I'm going through a workload period.

I hope this bug no longer exists

[2019-03-29 23:18] vincenzopalazzo commented on #77
@Reap00r I hope this bug no longer exists :)

[2019-03-30 08:05] Reap00r commented on #73
@vincenzopalazzo no worries, you are trying your best and we are able to communicate with each other :)
And now you understood what I wanted 👍

[2019-03-30 08:38] vincenzopalazzo commented on #73
@Reap00r Thanks, the fix are inside [this](https://github.com/atarw/material-ui-swing/pull/78) pull request.

I hope of the fixing the problem with this solution

[2019-03-30 19:20] #73 closed

[2019-04-01 06:18] Reap00r commented on #73
@vincenzopalazzo thanks for the fix, now it looks as good as it used to :)

[2019-04-01 06:21] Reap00r commented on #77
@vincenzopalazzo,
unfortunately your fix did not completely remove this bug, see the GIF
![GIFScrollbar](https://user-images.githubusercontent.com/4528294/55307209-21f36d00-5457-11e9-8710-aee483a2a32d.gif)

Maybe this is related to Windows / Linux again

[2019-04-01 08:31] vincenzopalazzo commented on #77
Hi @Reap00r,

Sorry for this problem, I was not able to reproduce this error and so I didn't know what nature it was, I made the same changes that I had placed in the previous components but I see that it wasn't enough.

Sorry if I can't give you a pull request where all the problems are solved, I'll work on it.
Sorry

[2019-04-01 08:35] vincenzopalazzo commented on #73
Hi @Reap00r,
I noticed the presence of this error only after several days because it is a problem at one point in the code that we never touched and something like that didn't seem possible to me.
But every time even the Graphics was used and not Graphics2d everything came out pixeled.

I say this also for informational purposes if I use graphics with the look and feel you might get pixeled drawin

[2019-04-01 23:05] vincenzopalazzo commented on #77
Hi @Reap00r,

Before running the pull request can you test if the bug has been fixed with this version?
https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V9.9

This is an example my fix
![](https://media.giphy.com/media/vvxP5pQmsRb2ylZ8N3/giphy.gif)

[2019-04-02 07:10] Reap00r commented on #77
Hi @vincenzopalazzo,
I just downloaded v9.9 and it is still not fixed.
I can see in your example that is seems to work, but unfortunately not for me :/
Could it be related to the color of the button (mine is blue and the border around the scrollbar turns blue as well)

[2019-04-02 07:46] vincenzopalazzo commented on #77
@Reap00r,

Very probable that the bug is not in the jscrollbar but in the mouse hover effect, I will try to look at the code and propose a new solution, unfortunately when I release the solution you'll have to act as a tester :) since I can't reproduce your error on Windows and Linux.

[2019-04-02 08:48] Reap00r commented on #77
Hi @vincenzopalazzo,

no problem. Just tell me when you got an update and I will test it asap ;)

[2019-04-02 20:07] vincenzopalazzo commented on #70
Hi @lilili87222,

Is it the effect you expected from the amount of colors?
![](https://media.giphy.com/media/47FfHY1THAP3Pt7OzU/giphy.gif)
![Selection_041](https://user-images.githubusercontent.com/17150045/55432557-73a11200-5593-11e9-8741-9fb0c8188561.png)

*The works are started :)*

[2019-04-03 03:25] lilili87222 commented on #70
That is perfect. @vincenzopalazzo

[2019-04-04 21:25] vincenzopalazzo commented on #77
Hi @Reap00r,

I released another fix for this problem, I introduce a new component MaterialUIStaticMoviment , this component haven't a wake effect, it was thought for the effect mouse hover on the button for component static, an example: JSpinner, JScrollBar, KComboBox.

[The version fixed (I hope)](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V9.9)

I attend your feedback for

[2019-04-06 14:17] lilili87222 commented on #70
I have sent you a demo of swing set2  to your gmail  @vincenzopalazzo

[2019-04-06 15:20] vincenzopalazzo commented on #70
@lilili87222 I will watch you in the week thanks

[2019-04-06 23:03] vincenzopalazzo commented on #70
@lilili87222 I started working on your project, I don't like that the things of the sun are abandoned, with a minimum effort we would be able to revive, let's try :)

Look here https://github.com/vincenzopalazzo/setSwing3/releases/tag/v0.1

[2019-04-08 07:50] Reap00r commented on #77
Hi @vincenzopalazzo,

unfortunately this is still not fixed. I didn't have a closer look into the code changes, but I saw that you added a swing set to your new version. Would this be necessary for the fix?
See my test results here:
![GIFScrollbar](https://user-images.githubusercontent.com/4528294/55707348-ad36aa80-59e3-11e9-9caa-9886315dfe81.gif)
![GIFScrollbar2](https://user-images.githubusercon

[2019-04-08 08:08] vincenzopalazzo commented on #77
@atarw can you reopen this issue, please?

Hi @Reap00r,
The swing set is the first version demo for this theme, it's not necessary for the function od the look and feel.

Before refactoring the code I would like to ask you about things, in this version a good rule was introduced, before creating new effects with MaterialUIMoviment you have to clean up all the listeners.
So I will now ask you if yo

[2019-04-08 10:07] Reap00r commented on #77
Hi @vincenzopalazzo,

at first I pulled the latest changed and tried the new version but it still didn't work.

Now I tried a few things:
At first, this is the current version:
![GIFScrollpaneBroken](https://user-images.githubusercontent.com/4528294/55716196-a2d1dc00-59f6-11e9-9564-1a69fdd63278.gif)

Now I removed the All the mouse listeners as you mentioned (WITHOUT adding one)
![GIFRemovingMouse

[2019-04-08 12:28] vincenzopalazzo commented on #77
Thanks, @Reap00r,

in this example, the effect is wrong, right?

Thanks for this example and another question, you have change a color mouse hover with the LITE_BLUE? if you change the mouse hover color on button into equals color mouse hover JScroll bar you have a Effect OK, right?

[2019-04-08 13:05] Reap00r commented on #77
Hi @vincenzopalazzo,

in all of my examples the effect is wrong. it should stay gray without the strange border.

Even changing the button hovercolor to grey, it still get partly painted in blue (maybe cause of the normal color of the button)
![GIFScrollpaneBroken2](https://user-images.githubusercontent.com/4528294/55726278-b178bd00-5a0f-11e9-9734-77da89ff53d2.gif)

[2019-04-08 17:58] vincenzopalazzo commented on #77
@Reap00r I repaint new border, try this version and if it's work I will create a pull request
This is version https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V9.9

[2019-04-09 06:41] Reap00r commented on #77
Hi @vincenzopalazzo,
I tried your version and it still doesn't work unfortunately. In my test I didn't remove all the mouse listeners, because I wouldn't be able to handle this in my project.
![GIFScrollpaneBroken3](https://user-images.githubusercontent.com/4528294/55778475-437dd580-5aa3-11e9-8415-4653a10c5b5b.gif)

[2019-04-09 09:02] vincenzopalazzo commented on #77
Hi @Reap00r,

I added new change, you try it https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V9.9
if the error persists, I will create a version for debugging your application so by analyzing the output we will be able to understand what's wrong, in the meantime I have removed the BasicButtonArrow and I set the icons manually, try and let me know

[2019-04-09 09:20] Reap00r commented on #77
Hi @vincenzopalazzo,
just to be sure I am doing this stuff right. When I click on the link you provided, I see this:
vincenzopalazzo released this 11 days ago
Now when I download your asset (material ui design), is this the latest version?

Since I was not sure about that I cloned your project and build the version myself today in the morning.
Now I tried to pull and build it myself but there were

[2019-04-09 11:43] vincenzopalazzo commented on #77
The jar should be the one I loaded, but to avoid working on projects that are not up to date I will now commit the latest version, which you can easily build the jar with maven

[2019-04-09 11:44] vincenzopalazzo commented on #77
Hi @Reap00r,

The jar should be the one I loaded, but to avoid working on projects that are not up to date I will now commit the latest version, which you can easily build the jar with maven

[2019-04-09 11:49] vincenzopalazzo commented on #77
@Reap00r the version are online, I attend your feedback :)

[2019-04-09 12:07] Reap00r commented on #77
@vincenzopalazzo,
hopefully I wasn't the problem all along.
I just saw that I used your fixedsomeissue branch and not the master and maybe that's the reason why your changes didn't work.. maybe because they were not in my version?!

Well.. anyway.. with the master branch it is WORKING :D

Great work and thanks for your help as always!

[2019-04-10 01:03] lilili87222 commented on #70
http://jiconfont.github.io/swing
This project may be helpfull

[2019-04-10 08:13] vincenzopalazzo commented on #70
Hi @lilili87222,
This is very good project, exist another project similar but this is not supported, I try to clone and creating a maven repo but if it would be nice to support old swing projects, I can't do it because of the lack of time, and so I think this project is an excellent way to focus, I'll try to adopt it thanks

For the other projects they have a great graphic effect, every time I loo

[2019-04-10 08:36] lilili87222 commented on #70
Yes,just focus on your,the other may support some idea

[2019-04-10 12:51] Reap00r opened #80 "JSpinner is not working"
Currently clicking on the Spinner buttons won't change anything

![GIFSpinner](https://user-images.githubusercontent.com/4528294/55879965-1105d280-5ba0-11e9-9a31-57cbb9a638b4.gif)

[2019-04-10 16:14] vincenzopalazzo commented on #80
Ciao @ Reap00r, questo bug era corretto nella prossima versione, il problema è il MaterialManagerListner quando il look and fell crea il pulsante per jspinner, la versione corretta è in dir lib per il mio progetto di versione, creerò una richiesta pull con tutte le correzioni

[2019-04-10 16:14] vincenzopalazzo commented on #80
Hi @Reap00r, this bug was correct into next versione, the problem is the MaterialManagerListner when the look and fell create the button for jspinner, the versione correct is into dir lib for my version project, I will create a pull request with all fix

[2019-04-12 22:58] vincenzopalazzo commented on #80
Hi @Reap00r, Sorry if I'm late with the pull request, by next weekend I will carry out the alignment with the status, you can meanwhile see the changes in my repo, sorry again for the delay

[2019-04-15 10:36] Reap00r commented on #80
Hi @vincenzopalazzo,
don't worry, I am working on a different project so unfortunately I don't have much time for this currently.

[2019-04-15 10:54] vincenzopalazzo commented on #80
Hi @Reap00r
I am in the same situation, good job

[2019-04-17 08:21] NhocKun opened #81 "JTextField not work backspace"
When user enter backspace in keyboard, it doesn't work, While it work on JPassword.
Problem on:
`if (getComponent().getSelectedText() != null) ` line 146

[2019-04-17 09:55] vincenzopalazzo commented on #81
Hi @NhocKun,

A is raised a NullPointerException?

[2019-04-18 04:17] NhocKun commented on #81
Hi @vincenzopalazzo ,
I'm clone [repo](https://github.com/vincenzopalazzo/material-ui-swing) and build from it, version of jar is   `material-ui-swing-0.9.9-jar-with-dependencies.jar`
It still is bug. And with JToggle, i have found bug when using UI from netbeans, when user change icon of toggle (toggle on) icon not show expect

[2019-04-18 12:38] vincenzopalazzo commented on #81
Hi @NhocKun,

Today I have fixed this [problem](https://github.com/vincenzopalazzo/material-ui-swing/issues/24), is this your problem?

Can you give me an example with code?

[2019-04-19 01:57] NhocKun commented on #81
Hi @vincenzopalazzo ,
I'll check this, thank for support

I using drag, drop function of netbean for design Jtoggle,
Here is code to change icon with state of Jtoggle
`tgExpand.addActionListener((ActionEvent e) -> {
         JToggleButton tBtn = (JToggleButton) e.getSource();
        if (tBtn.isSelected()) {
          tgExpand.setIcon(new ImageIcon(getClass().getResource("/resource/Toggle On_18px.

[2019-04-19 07:57] vincenzopalazzo commented on #81
Hi @NhocKun,
Thy this code for adding the icon.
_Swing already has many events, and when changing icons it is best to use its methods_

[code]
Attention to the space between toggle and On / off in the path of the image, I hope you were of help

[2019-04-21 13:16] vincenzopalazzo commented on #80
Now I Creating a pull request, the pull request resolve this problem, @atarw can you close this issue, please?

[2019-04-21 13:16] vincenzopalazzo commented on #81
Now I Creating a pull request, the pull request resolves this problem, @atarw can you close this issue, please?

[2019-04-21 13:17] vincenzopalazzo commented on #77
Now I Creating a pull request, the pull request resolve this problem, @atarw can you close this issue, please?

[2019-04-21 13:18] vincenzopalazzo commented on #70
Now I Creating a pull request, the pull request includes the demo and the new cosmo color, Thanks so much

[2019-04-21 23:20] #81 closed

[2019-04-21 23:20] #80 closed

[2019-04-21 23:20] #77 closed

[2019-05-28 00:36] kvnxu opened #83 "NoClassDefFoundError"
I tried out the new release, and I couldn't get it to work. I got a NoClassDefFoundError when setting the LookAndFeel. However, the release before this one works fine.

[2019-05-28 07:03] vincenzopalazzo commented on #83
Hi @kvnxu,p what is you jar?!

Tha official ja last version not exist but you have two chance
- clone the repo and run comand with maven
- attend @atarw of the load new version but I remember corret he is a little engaged.

In last alternative the last update is do of me and you find the last jar update here(https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V1.0.Beta1.1) this jar c

[2019-05-28 20:08] kvnxu commented on #83
I downloaded the jar from https://github.com/atarw/material-ui-swing/releases/tag/v0.9.4.0, this was the one that didn't work properly. Your version works fine, however. I'll likely be using it over the old one from this repo. Thanks.

[2019-05-28 20:16] vincenzopalazzo commented on #83
I'm happy if you using a material-ui-swing and my solution work, The jar into 0.9.4.0 is not official jar.
We work on this project for creating a look and feel cool and my repo and the repo of the @atarw are equal.

I will think about how to provide a more effective beta release channel, sorry for the inconvenience and sorry my terrible English

[2019-05-29 05:07] atarw commented on #83
Sorry about that I've updated the latest release to be consistent with the master branch.

Yeah I'm planning on keeping this repo as the "stable" version while @vincenzopalazzo's repository has more experimental/additional features

[2019-05-29 05:07] #83 closed

[2019-07-05 23:28] itsTyrion opened #84 "ActionListener not firing"
After setting the material l&f, a JTextField's action listener doesn't seem to fire when pressing return for me. commenting the setLookAndFeel part out resolves the issue.

snippet https://pastebin.com/g2q4gMN5 (I removed anything not explicitly needed for this gh issue)

[2019-07-06 10:01] vincenzopalazzo commented on #84
HI @itsTyrion,

We work on the version 1.0 in this and in this [branch](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V1.0.Beta1.2), you tried the last version, can you try your code in with the last update, please?

[2019-07-06 17:06] itsTyrion commented on #84
Same thing. :/  tried the compiled beta 1.0 jar)
Hitting return does for some odd reason not fire an ActionEvent, the JButton is working, though.
I wonder how that is even possible o.O

[2019-07-06 18:01] vincenzopalazzo commented on #84
@itsTyrion Thanks so muck, we will find the problem, thanks

[2019-07-16 16:23] vincenzopalazzo commented on #84
Hi @itsTyrion I ran your code and I work well if you submit with enter the JTextField in the console printed the _aaaaaaa_.
If you want that print _aaaaaaa_ on click you must add a MouseListener.

@atarw can you close the issue please, if you can

[2019-07-16 17:00] itsTyrion commented on #84
What are you talking about? It does not work as it should. Please just read what i wrote... “it does not fire when I press enter” and “del doesn’t work”
Why would I need a mouse listener for that? o.O

Are you running it on windows? If so, it could be a very weird platform dependent glitch.

[2019-07-16 18:05] vincenzopalazzo commented on #84
@itsTyrion, when I press, enter in the my Demo worked on Linux, now I will try with windows

When version Java you used?

[2019-07-24 23:44] klana001 opened #85 "JFileChooser not honouring Enter key press"
I have noticed that using:

- JFileChooser.showSaveDialog
- JFileChooser.showOpenDialog
- JFileChooser.showDialog

The expected behaviour when pressing "Enter" in the text field, which is to effectively click the default button (i.e. save/open button), is not performed.

I have made a work around by extending JFileChooser and iterating over the components to find the text field component and then

[2019-07-25 07:51] vincenzopalazzo commented on #85
Hi @klana001,

If can you give me a simple example runnable it will is fantastic, also yesterday I have released a new version beta in this [branch](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V1.0.Beta1.3), with this version work or have same problems?

[2019-07-25 11:51] klana001 commented on #85
@vincenzopalazzo It is readily repeatable... just call JFileChooser.showSaveDialog().

e.g.

class test extends JFrame
{
public static void main (String[] args)
{
new test();
}

public test()
{
JFileChooser.showSaveDialog()
}
}

Your beta branch seems to have corrected the issue. Cheers

[2019-07-25 12:09] vincenzopalazzo commented on #85
@klana001 thanks, it isn't only my version beta but is the version beta for this project.

When the version1.0 is stable the branch will join on this project, for the moment I suggest you used the branch beta it introduced the new style of the component, an example to JComboBox and JDialog.

If you want to try the JDialog beta you can add this code
`JDialog.setDefaultLookAndFeelDecorated(true);`

[2019-07-26 11:14] itsTyrion commented on #84
Sooo. I finally got the time to test it.
At first: Please exucde my rudesness in the previous reply, I didn't have your name as the dev name in my head and thought it was just some know-it-all
2nd: It IS working with the current stable, and the current beta version.
I had a REALLY old version of Material UI Swing stuck in IntelliJ (I started the project ages but lost time and interest) and it seem

[2019-07-26 20:13] vincenzopalazzo commented on #84
Hi @itsTyrion,

I'm heppy that the your version work well.

Don't worry

Thanks so much

Sorry if do this question but can you give me an example for this problem?

The font Roboto was been removed for resolve this [issue](https://github.com/atarw/material-ui-swing/issues/42) now the font is the noto sans and whit some SO has the problem with display, this my [pull request](https://github.com/atar

[2019-09-04 22:25] vincenzopalazzo commented on #85
@atarw can you close this issue, please? because of this [PR](https://github.com/atarw/material-ui-swing/pull/86) fix it

[2019-09-04 22:26] vincenzopalazzo commented on #84
@atarw can you close this issue, please? because of this [PR](https://github.com/atarw/material-ui-swing/pull/86) fix it

[2019-09-13 18:18] vincenzopalazzo commented on #48
@CesarCoelho, @zajkivsky I'm happy to announce the official maven repository, look this [reference](https://search.maven.org/artifact/io.github.vincenzopalazzo/material-ui-swing/1.0.0/jar)

[2019-09-15 16:20] TheRolfFR opened #87 "JComboBox theme bug"
Hello there,
I have made a little program with your nice package but I have a bug with my combo box :

![bug_combo_box](https://user-images.githubusercontent.com/18086786/64924501-63998980-d7e5-11e9-98cd-b1b75db981b9.gif)
I don't know why it is coming back to this coloured rounded corner, and I have tried to modify the arch methods but nothing :(.

The whole code is available here :
[https://githu

[2019-09-15 16:58] vincenzopalazzo commented on #87
Hello @TheRolfFR,

What is your desiderated effect??

When you click on the ComboBox you have an effect of "focus" on the combo box, so if you want the border black you can add this code inside your method.
With the method, installUIDefault of the AbstractMaterialTheme is a raping method for using the UIDefaults

[code]

For the default setting the color, focus border is equal to `theme.getHighlig

[2019-09-15 18:37] TheRolfFR commented on #87
The problem is that I don't want any border at all 😄
There is also this weird chevron movement due to a inside empty border / padding reappearing from nowhere.

What I updated currently is that the color is the same as the background color :
[code]
But this should not be a definitive solution. Is there any other key I can replace in the table? Do you have some documentation I can see?

Thanks alre

[2019-09-15 19:08] vincenzopalazzo commented on #87
@TheRolfFR with order :)

- unfortunately, I don't have documentation, but you can look at this [class](https://github.com/vincenzopalazzo/material-ui-swing/blob/masternow/src/main/java/mdlaf/MaterialLookAndFeel.java) or using Stack overflow with this tag  **java, material, swing, look-and-feel** for more help

- In the next release, this is possible to disable with the key "ComboBox.focusable"

T

[2019-09-15 19:20] TheRolfFR commented on #87
After searching through the UI, I found this:
[code]
Here on [this](https://github.com/vincenzopalazzo/material-ui-swing/blob/935077b9f1f247d12a4b78358e66849e4dee9200/src/main/java/mdlaf/components/combobox/MaterialComboBoxUI.java#L125) file. And the thing is that no matter what I will try , it will always comeback to a RoundedLineColorBorder. So I don't know if it helps you but What I would need

[2019-09-15 19:40] vincenzopalazzo commented on #87
Yes, the bug is inside here class but because exist this code` comboBox.setFocusable(true);`, this is always focusable.

In the next commit, I fix the bug I will if also this issue https://github.com/vincenzopalazzo/material-ui-swing/issues/72:)

[2019-09-16 07:11] CesarCoelho commented on #48
Cool, thanks!

[2019-09-19 14:25] vincenzopalazzo commented on #87
Hi @TheRolfFR, I have fixed this problem in [version 1.0.3](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V1.0.3)

I will happy if when you finish your theme, publish it with our for creating a repository of theme if you want you can create the pull request in this [branch](https://github.com/vincenzopalazzo/material-ui-swing) for testing it with the all library

[2019-09-19 14:32] TheRolfFR commented on #87
Okay yes why not publish it! I'll try to fix my problem and I will come back to tell if it works!

[2019-09-21 09:30] TheRolfFR commented on #87
So it seems like the arrow is still shrinking but I would call this a fix.
![bug_combo_box_fixed](https://user-images.githubusercontent.com/18086786/65371362-2e68bd80-dc63-11e9-80ce-fe44067cc445.gif)

Thanks

[2019-09-21 09:30] #87 closed

[2019-10-28 11:20] MJ-DEV91 opened #88 "Focusing on a table cell will insert the last value"
Hi. Thanks for this great LAF.
Assume that I have a table and I insert "a sample value" in a cell. When I double click on another cell (even if it's been filled already), the last value that I inserted ("a sample value") will be inserted in this cell.

[2019-10-28 11:28] vincenzopalazzo commented on #88
Hi @MJ-DEV91

Thanks :)

Can you give me a minimal example of reproducible, please?

This seems a particular mistake, if you give an example we will be able to debug and focus directly on the problem.

Thanks

[2019-10-28 11:39] MJ-DEV91 commented on #88
Just in your demo application:
https://pasteboard.co/IE3vnv5.jpg

There is a table with four cells: "a", "b", "c", "d"
I filled the "a" cell with "11111" and when I double clicked on "b" cell, it was filled automatically with "11111".

[2019-10-28 14:01] vincenzopalazzo commented on #88
@MJ-DEV91 Thanks, give me time to verifying and reproduce it. I will return

[2019-10-28 20:29] vincenzopalazzo commented on #88
@MJ-DEV91 I have reproduced the but, I will try to fix it in the developer for [this project](https://github.com/vincenzopalazzo/material-ui-swing/issues/84).

Thanks for your help.

[2019-10-28 21:43] vincenzopalazzo commented on #88
The bug is fixed in this [minor version](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/V1.0.6).

For the moment I don't create the pull request in the official version because I have a new feature to add at the theme.
If you want you can use version 1.0.6.

[2019-10-29 10:38] MJ-DEV91 commented on #88
Thanks a lot

[2019-10-29 10:38] #88 closed

[2019-11-02 06:34] MJ-DEV91 opened #89 "Option 1 (Animated) in Demo Application is not animated"
Hi.
There is a menu (Option 1 (Animated)) in the demo application and I think it's supposed to be animated, but when I click on it, there is no animation. Did I miss something?

[2019-11-02 08:31] MJ-DEV91 opened #90 "Background-color of a button is turned to default after hovering"
Hi.
Please consider below button:
[code]

The background color is going to be blue and at first, everything is OK:
https://pasteboard.co/IENpssv.jpg

When I hover it, it's turned to gray:
https://pasteboard.co/IENpTxo.jpg

But when I move the cursor, it is not turned to blue:
https://pasteboard.co/IENqCrx.jpg

The source code is as below:

[code]

[2019-11-02 09:45] vincenzopalazzo commented on #90
Hi @MJ-DEV91,

So the event mouse hover is a simple MouseEvent and it gets the color to the bootstrap theme,

This is default code for add the mouse event

[code]

Where the UIManager.getColor("Button.mouseHoverColor") is `MaterialColors.GRAY_400`.

For actual implementation of the button for work well, you must be reset  the listener when set the new beckgroud, an example with the your code

[cod

[2019-11-02 09:55] vincenzopalazzo commented on #89
Hi @MJ-DEV91,

I think that we missed something :).

I'm more secure the not exist *NOW* the Animation on the MenuItem, or to put it better now the MenuItem are all animated because by default all have the mouse hover enable.

A year ago the mouse hovers not is enabled by default on the component. Sorry, I think it my error in the demo, I will remove the text inside the demo.

ps: if you have any

[2019-11-05 08:59] vincenzopalazzo commented on #84
Hi @itsTyrion, I'm linking an issue to the purpose to set a personal Font with MaterialTheming System https://github.com/vincenzopalazzo/material-ui-swing/issues/87.

I hope it resolves your problem

[2019-11-05 08:59] #84 closed

[2019-11-05 08:59] #85 closed

[2019-11-07 04:35] #89 closed

[2019-11-07 04:45] MJ-DEV91 commented on #90
Thanks, you're doing a great job

[2019-11-07 04:45] #90 closed

[2019-11-13 15:40] lovechenghao opened #92 "Chinese garbled"
Chinese garbled, as shown

[2019-11-13 15:46] vincenzopalazzo commented on #92
Hi @lovechenghao it the same repository of https://github.com/vincenzopalazzo/material-ui-swing

The issue is fixed by this issue https://github.com/vincenzopalazzo/material-ui-swing/issues/87

[2019-11-14 00:57] lovechenghao commented on #92
![](https://user-images.githubusercontent.com/29998950/68817452-bcd64a00-06bc-11ea-9348-cc420032227c.png)

[2019-11-14 00:59] #92 closed

[2019-12-27 16:08] ThomasLachaux opened #93 "Material UI Swing doesn't supports emojis"
Hey,

I've just tried this library, it's awesome but I use emojis (like ♥) with Swing and it seems that the library doesn't support them.

Is it due to the font ?

Have a nice day

[2019-12-27 17:12] vincenzopalazzo commented on #93
Hi @ThomasLachaux,

Thank for your kind words

I think yes, this is the problem of the personal font (Noto Sans) but now I want to schedule the feature to support the fonts, [like this](https://www.google.com/get/noto/#emoji-zsye-color).

Also, We are open-source programmers and we will have need the time for adding this support, for the moment I should have a solution to support the emoji via Mat

[2020-01-13 14:41] amirheclown opened #94 "Mouse Cursor"
hello and good day.
If you drag the mouse between 2 panels or SplitPanes to maximize or minimize a field, the mouse cursor is not changed and is not shown as a line so that the resize can be made easier.

[2020-01-13 21:07] vincenzopalazzo commented on #94
Hi @amirheclown, good day.

Can you update a screenshot of the problem or you can update a minimal example?

I have tested the library inside the demo (you can find it [here](https://github.com/atarw/material-ui-swing/releases/download/v1.1.1-beta/Demo-Swing-set3.tar)) and it worked.

You can test the SplitPane here

![Screenshot from 2020-01-13 21-58-10](https://user-images.githubusercontent.com/

[2020-01-14 12:17] amirheclown commented on #94
Hi there. Thank you for your prompt reply. I expect mouse behavior like in this picture. But the mouse cursor does not change.

My Operative System: Windows 7 Professional
Java Version: 12

![inter-mouse-image30](https://user-images.githubusercontent.com/44499425/72343841-1e706000-36d0-11ea-80ff-f086e617f4fd.png)

[2020-01-14 16:58] markscottwright opened #95 "MaterialButtonUI.java depends on JavaFX"
I assume this is a bug, since this is specifically a Swing look and feel.  Deleting line 2 allows maven to build on a machine without JavaFX installed.

[2020-01-14 20:13] vincenzopalazzo commented on #95
Hi @markscottwright thanks for this.

It's only refused.

I will remove it in the next release.

[2020-01-14 20:43] vincenzopalazzo commented on #94
Hi @amirheclown,

Thanks for your information, but I can't reproduce the problem; can you post the minimal example reproducible with the code?

[2020-01-17 11:08] vincenzopalazzo commented on #94
HI @amirheclown,

I'm working on JSplitPane Style and I'm trying to reproduce your problem bug I have this result

![](https://media.giphy.com/media/VEntFi4tQLmztCnHMc/giphy.gif)

[2020-02-01 07:55] YiluoE opened #96 "中文乱码"
UI 真的很不错！但是中文乱码该如何解决呢? 谢谢

[2020-02-01 09:12] vincenzopalazzo commented on #96
HI @YiluoE

Thanks so much for your kind words.

It is a problem of the personal font "Noto Sans" used inside the library.

Inside this library, we are trining to build minimal documentation through other issues.

I added a solution to fix the Chinese language through MaterialTheming, you can read the solution [here](https://github.com/vincenzopalazzo/material-ui-swing/issues/87)

You can find oth

[2020-02-01 11:21] YiluoE commented on #96
非常感谢你的及时回复！

[2020-02-12 04:38] edpmath opened #97 "Docs needed"
Where can I find documentation about the library?

[2020-02-12 22:42] vincenzopalazzo commented on #97
Hi @edpmath,

Sorry for the delay.

Unfortunately, we don't have the documentation, because there are some motivation, like:

- We are developers open-source without pay for this work, this will do this work because it is cool developing new system but we have other work out of this project and we don't have time to build a good documentations alienated with code .

- I'm trying to implement the s

[2020-02-22 19:43] Fusked opened #98 "GuiBuilder ?"
Hello , did material ui swing work with any scenebuilder/guibuilder ?

[2020-02-22 20:09] vincenzopalazzo commented on #98
Hi @Fusked,

Material-ui-swing is an l&f, don't use any personal component, an example: JMaterialButton, but customize the native JButton with a swing component called ButtonUI.

So, I think that material-ui-swing work with a GUI builder, I tried to use Matisse with Netbeans and the library worked.

[2020-02-23 20:46] Fusked commented on #98
Okay thank u very much

[2020-02-24 13:11] vincenzopalazzo commented on #97
Hi @edpmath javadoc is out  https://vincenzopalazzo.github.io/material-ui-swing/ with [material-ui-swing 1.1.1 pre-release6.1](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/v1.1.1-prelease)

[2020-02-24 13:14] vincenzopalazzo commented on #95
HI @markscottwright,

At the moment I released [material-ui-swing 1.1.1 pre-release 6.1](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/v1.1.1-prelease) in the development project and this fixed this issue.

In this github project, the release coming in the next week.

Thanks for your contributing

[2020-03-08 02:36] mikera opened #100 "Caret Colour for dark themes"
I noticed on the dark themes it is very difficult to see the caret in text fields because it looks like the default caret colour (black?) is always being used.

I have a quick and dirty fix in this branch, testing with the Oceanic theme which changes the caret colour to white:
https://github.com/nuroko/material-ui-swing/tree/caret-colour

Let me know if you would like a PR for this?

[2020-03-08 02:53] vincenzopalazzo commented on #100
Hi @mikera,

Thanks for work, yes it is a good feature, but you remember to alienate the propriety with MaterialTheming System.

I have a question, you can use the same color foreground for set the caret color, this is an good solution?

P.S: I'm working to release the new code of the library, you want to work the newest code of library you can see wait for my next commit or you can work with [thi

[2020-03-08 23:31] vincenzopalazzo commented on #98
I'm marking this issue of how resolved and I'm closing it.

[2020-03-08 23:31] #98 closed

[2020-03-08 23:31] vincenzopalazzo commented on #96
I'm marking this issue of how resolved and I'm closing it.

[2020-03-08 23:31] #96 closed

[2020-03-08 23:31] vincenzopalazzo commented on #95
I'm marking this issue of how resolved and I'm closing it.

[2020-03-08 23:31] #95 closed

[2020-03-08 23:32] vincenzopalazzo commented on #94
I'm marking this issue of how not-reproducible and I'm closing it.

[2020-03-08 23:32] #94 closed

[2020-03-08 23:32] vincenzopalazzo commented on #49
I'm marking this issue of how resolved and I'm closing it.

[2020-03-08 23:32] #49 closed

[2020-03-08 23:33] vincenzopalazzo commented on #48
I'm marking this issue of how resolved and I'm closing it.

[2020-03-08 23:33] #48 closed

[2020-03-08 23:33] vincenzopalazzo commented on #97
I'm marking this issue of how resolved and I'm closing it.

[2020-03-08 23:33] #97 closed

[2020-03-09 00:01] YiluoE commented on #96
在你给的方案中 很好的解决了中文乱码的问题！

[2020-03-09 00:03] vincenzopalazzo commented on #96
@YiluoE Thanks your contributing.

[2020-03-09 08:53] mikera commented on #100
Hi I made a quick PR - not sure if this is the best way to do it but it works for the scenarios I have tested.

[2020-03-10 00:51] vincenzopalazzo commented on #100
Fixed

[2020-03-10 00:51] #100 closed

[2020-04-22 11:11] izemskov opened #105 "Problem with resizing JDialog"
I try to use your MaterialDesign LookAndFeel in my project and I have a problem with resizing JDialog modal window. You can see this bug if change JFrame to JDialog in your example form and move mouse to right down corner. You don't see change mouse cursor to cursor for resizing. Also if you move mouse cursor to down edge of form you may see change cursor for resizing but resize don't work correct

[2020-04-22 14:48] vincenzopalazzo commented on #105
Hi @izemskov.

Thanks for using this l&f.

I know this bug and I'm working now to optimizing it, but the solution already existed with [this PR](https://github.com/vincenzopalazzo/material-ui-swing/pull/118).

If you use your app for simple cases and want to try the solution, you can compile this [vincenzopalazzo/material-ui-swing/development](https://github.com/vincenzopalazzo/material-ui-swing/t

[2020-04-24 19:23] majenkotech opened #106 "Can't load /imgs/white/minimize.png"
Trying to use this on Ubuntu with OpenJDK 11.0.7 it fails to load `/imgs/white/minimize.png`.

I tracked this down to that one image being a 1-bit image, rather than RGBA or grayscale, and it *really* doesn't like that format.

For the time being I'm overlaying my own RGBA format of the same image over the content of the jar file, but it could do with being adjusted in the repo.

[2020-04-25 16:20] vincenzopalazzo commented on #106
HI @majenkotech.

This bug was known in the pre-release_6.1 but I resolve it inside [this commit](https://github.com/vincenzopalazzo/material-ui-swing/commit/ab647e5d7e332834f1c364d1d2d6a9b8b4f12909)

This branch is only for the official release and not for the dev process, for see the developer condition you can look inside the development branch [vincenzopalazzo/material-ui-swing](https://github

[2020-04-30 04:56] vincenzopalazzo commented on #106
Fixed in material-ui-swing-1.1.1-rc1, look here https://github.com/vincenzopalazzo/material-ui-swing/releases

[2020-04-30 04:56] #106 closed

[2020-04-30 04:57] vincenzopalazzo commented on #105
Fixed in material-ui-swing-1.1.1-rc1, look here https://github.com/vincenzopalazzo/material-ui-swing/releases

[2020-04-30 04:57] #105 closed

[2020-05-07 11:15] metteo opened #107 "Rearrange classes & packages to allow usage from modular apps (JPMS)"
Hi

I tried using your awesome library in my modular project (Java 11) but it failed because of few issues:

1. MaterialUISwingDemo.java is in a default package. This is unacceptable in modular / published libraries (major)
2. The JAR published to maven central is actually a full assembly with all dependencies (major)
3. There is no module-info.java or at least "Automatic-Module-Name" in MANIFEST.

[2020-05-07 16:16] vincenzopalazzo commented on #107
Hi @metteo,

There are a lot of good points in this issue, but before I want toadd a link to the recently material-ui-swing repository, [material-ui-swing](https://github.com/vincenzopalazzo/material-ui-swing).

material-ui-swing last year started using Gradle and left maven.

I will return to your good point.

This library is life yet because the community work together, all request/change/talk a

[2020-05-07 16:52] metteo commented on #107
Thanks for the response.

I agree that the changes proposed should end up in a new minor release (1.2):

1. `MaterialUISwingDemo.java` to be moved to `src/test/java`
2. Use [gradle publishing of maven artifacts](https://docs.gradle.org/current/userguide/publishing_maven.html#publishing_maven) to deploy the library to Maven Central (with properly generated pom.xml). The library would not be an asse

[2020-05-07 17:00] vincenzopalazzo commented on #107
Hi @metteo,

This change that I will today in the release rc2 will be released in this week.

Don't worry, I managed this repository too, I will allineate the change for arch major release.

This is the description inside the readme.md of this repository

I hope to have time the change that you suggest

[2020-05-10 02:54] Fiona-Fei opened #108 "Image /imgs/white/minimize.png wasn't loaded"
Executed a .jar that uses this UI and the error mentioned in the title popped up. The creator of that [project](https://github.com/lucas-allegri/KnightLauncher) told me to put an issue here regarding this error.

Tried running with OpenJDK 8 and 11 on Ubuntu 20.04

Attached terminal output uploaded below:
[KnightLauncherJarOutput.txt](https://github.com/atarw/material-ui-swing/files/4605063/Knight

[2020-05-11 00:39] Fiona-Fei commented on #108
Issue resolved; turns out it was an outdated library.

[2020-05-11 00:39] #108 closed

[2020-05-15 10:05] izemskov commented on #105
It's really works! Thank you!

[2020-05-16 04:34] vincenzopalazzo commented on #105
Hi @izemskov,

Happy to help :)

[2020-05-20 07:52] metteo commented on #107
@vincenzopalazzo I tried rc3 and the changes with the demo class and manifest entry are visible.

Unfortunately the fact that it's an assembly with all the dependencies inside, is still a blocker. I guess you could upload 2 artifacts for 1.1.1 release:

- `material-ui-swing-1.1.1.jar` (proper jar with only classes from material ui)
- `material-ui-swing-1.1.1-all-deps.jar` (as above + all dependenc

[2020-06-13 23:22] vincenzopalazzo commented on #107
Hi @metteo I pushed now the rc4 this version contains your changes pushed with this [PR](https://github.com/vincenzopalazzo/material-ui-swing/pull/141)

Release description [here](https://github.com/vincenzopalazzo/material-ui-swing/releases/tag/v1.1.1-rc4)

Thank you.

[2020-06-13 23:22] #107 closed

[2020-06-14 08:43] metteo commented on #93
I had a similar issue. Tried to use [media control symbols](https://en.wikipedia.org/wiki/Media_control_symbols) in labels but when switched to Material L&F they showed up as empty rectangles. Had to switch to JIconFont as a workaround.

[2020-06-14 08:50] metteo commented on #107
I can confirm this issue is fixed. Screenshot from [chip8-swing](https://github.com/metteo/chip8-swing) below:

![screenshot](https://imgur.com/lNqCMUD.png)

[2020-06-15 03:10] vincenzopalazzo commented on #93
Hi @metteo,

Thanks for this informations, unfortunately, the personal font used inside the library doesn't support emoji but you can resolve the problem with a custom theme and you can load the native fonts

Described inside this [issue](https://github.com/vincenzopalazzo/material-ui-swing/issues/87#issuecomment-549139460)

Unfortunately at the moment is not scheduled to change the font inside th

[2020-06-15 03:12] vincenzopalazzo commented on #107
Hi @metteo, Your screenshot looks very good, I hope to play to snake game with your emulator :)

[2020-09-09 18:54] dariopereiradp opened #110 "java.lang.ClassCastException: javax.swing.JTextField cannot be cast to javax.swing.JSpinner$DefaultEditor"
I've just upgraded from version 0.9.6.1 to the newest 1.1.1 and I noticed that when I try to open a JDateChooser (from the JCalendar 1.4 library) the calendar doesn't open correctly and it throws this exception:

`
Exception in thread "AWT-EventQueue-0"  java.lang.ClassCastException: javax.swing.JTextField cannot be cast to javax.swing.JSpinner$DefaultEditor
at mdlaf.components.spinner.MaterialSpi

[2020-09-21 13:54] #110 closed

[2021-07-14 08:29] MC501422 opened #112 "JOptionPane messageType parameter"
JOptionPane no visualization in **messageType parameter**
example:
JOptionPane.showMessageDialog(this, "Opcion invalida", "Opcion invalida", **JOptionPane.ERROR_MESSAGE)**;

![JOptionPane](https://user-images.githubusercontent.com/64989628/125589909-1d89696d-0d12-4772-ad5e-1a956b481822.png)

[2021-07-14 09:22] vincenzopalazzo commented on #112
Hi @MC501422,

Thanks for this ticket, What is the behavior that you want to see?

Can you give also an example of the correct behavior with the Native Swing l&f?

[2021-07-14 09:24] vincenzopalazzo commented on #112
P.S: As mentioned in the readme the developing phase is moving in the following repo https://github.com/vincenzopalazzo/material-ui-swing maybe it is the correct place to open an issue or a discussion to talk about your problem.

Thanks

[2022-04-04 09:50] R-N opened #114 "Quickstart guide"
How do I use this? This doesn't seem to be a simple plug and play LAF, or is it?

Thanks

[2022-04-04 10:10] vincenzopalazzo commented on #114
Hi @R-N

Tha project moved to https://github.com/vincenzopalazzo/material-ui-swing this is only a mirroring repository.

Right, it offers also a theme system, but to use it you need just to call this code after importing the dependencies

[code]

See the list of the theme supported [here](https://github.com/vincenzopalazzo/material-ui-swing/wiki/Screenshots) or you can import an external theme lik

[2022-04-04 10:10] #112 closed, assigned to vincenzopalazzo

[2022-04-04 15:18] R-N commented on #114
@vincenzopalazzo

Thank you. I didn't know which classes to import and use. I had checked the new repo too but I still couldn't find how to use this (I think the readme is identical, and the wiki link already points to that repo). I checked the demo too but it had quite a different structure to my project so I didn't understand. I think it'd be great if you could put that very minimal example in t

[2022-04-04 15:18] #114 closed, assigned to nobody